In [3]:
import pandas as pd
us_states_data = pd.read_csv("1.section data/states.csv")
print(us_states_data)

                   State  Abbrev Code
0                Alabama    Ala.   AL
1                 Alaska  Alaska   AK
2                Arizona   Ariz.   AZ
3               Arkansas    Ark.   AR
4             California  Calif.   CA
5               Colorado   Colo.   CO
6            Connecticut   Conn.   CT
7               Delaware    Del.   DE
8   District of Columbia    D.C.   DC
9                Florida    Fla.   FL
10               Georgia     Ga.   GA
11                Hawaii  Hawaii   HI
12                 Idaho   Idaho   ID
13              Illinois    Ill.   IL
14               Indiana    Ind.   IN
15                  Iowa    Iowa   IA
16                Kansas   Kans.   KS
17              Kentucky     Ky.   KY
18             Louisiana     La.   LA
19                 Maine   Maine   ME
20              Maryland     Md.   MD
21         Massachusetts   Mass.   MA
22              Michigan   Mich.   MI
23             Minnesota   Minn.   MN
24           Mississippi   Miss.   MS
25              Missouri     Mo.   MO
26               Montana   Mont.   MT
27              Nebraska   Nebr.   NE
28                Nevada    Nev.   NV
29         New Hampshire    N.H.   NH
30            New Jersey    N.J.   NJ
31            New Mexico    N.M.   NM
32              New York    N.Y.   NY
33        North Carolina    N.C.   NC
34          North Dakota    N.D.   ND
35                  Ohio    Ohio   OH
36              Oklahoma   Okla.   OK
37                Oregon    Ore.   OR
38          Pennsylvania     Pa.   PA
39          Rhode Island    R.I.   RI
40        South Carolina    S.C.   SC
41          South Dakota    S.D.   SD
42             Tennessee   Tenn.   TN
43                 Texas    Tex.   TX
44                  Utah    Utah   UT
45               Vermont     Vt.   VT
46              Virginia     Va.   VA
47            Washington   Wash.   WA
48         West Virginia   W.Va.   WV
49             Wisconsin    Wis.   WI
50               Wyoming    Wyo.   WY

In [6]:
kc_house_data = pd.read_csv("1.section data/kc_house_data.csv")
print(kc_house_data)

               id             date     price  bedrooms  bathrooms  \
0      7129300520  20141013T000000  221900.0         3       1.00
1      6414100192  20141209T000000  538000.0         3       2.25
2      5631500400  20150225T000000  180000.0         2       1.00
3      2487200875  20141209T000000  604000.0         4       3.00
4      1954400510  20150218T000000  510000.0         3       2.00
...           ...              ...       ...       ...        ...
21608   263000018  20140521T000000  360000.0         3       2.50
21609  6600060120  20150223T000000  400000.0         4       2.50
21610  1523300141  20140623T000000  402101.0         2       0.75
21611   291310100  20150116T000000  400000.0         3       2.50
21612  1523300157  20141015T000000  325000.0         2       0.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
0             1180      5650     1.0           0     0  ...      7
1             2570      7242     2.0           0     0  ...      7
2              770     10000     1.0           0     0  ...      6
3             1960      5000     1.0           0     0  ...      7
4             1680      8080     1.0           0     0  ...      8
...            ...       ...     ...         ...   ...  ...    ...
21608         1530      1131     3.0           0     0  ...      8
21609         2310      5813     2.0           0     0  ...      8
21610         1020      1350     2.0           0     0  ...      7
21611         1600      2388     2.0           0     0  ...      8
21612         1020      1076     2.0           0     0  ...      7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
0            1180              0      1955             0    98178  47.5112
1            2170            400      1951          1991    98125  47.7210
2             770              0      1933             0    98028  47.7379
3            1050            910      1965             0    98136  47.5208
4            1680              0      1987             0    98074  47.6168
...           ...            ...       ...           ...      ...      ...
21608        1530              0      2009             0    98103  47.6993
21609        2310              0      2014             0    98146  47.5107
21610        1020              0      2009             0    98144  47.5944
21611        1600              0      2004             0    98027  47.5345
21612        1020              0      2008             0    98144  47.5941

          long  sqft_living15  sqft_lot15
0     -122.257           1340        5650
1     -122.319           1690        7639
2     -122.233           2720        8062
3     -122.393           1360        5000
4     -122.045           1800        7503
...        ...            ...         ...
21608 -122.346           1530        1509
21609 -122.362           1830        7200
21610 -122.299           1020        2007
21611 -122.069           1410        1287
21612 -122.299           1020        1357

[21613 rows x 21 columns]

In [7]:
kc_columns = kc_house_data.columns
print(kc_columns)

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [10]:
states_columns = us_states_data.columns
print(states_columns)

Index(['State', 'Abbrev', 'Code'], dtype='object')

In [13]:
kc_n_rows = kc_house_data.head(n=10)
print(kc_n_rows)

           id             date      price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000   221900.0         3       1.00         1180
1  6414100192  20141209T000000   538000.0         3       2.25         2570
2  5631500400  20150225T000000   180000.0         2       1.00          770
3  2487200875  20141209T000000   604000.0         4       3.00         1960
4  1954400510  20150218T000000   510000.0         3       2.00         1680
5  7237550310  20140512T000000  1225000.0         4       4.50         5420
6  1321400060  20140627T000000   257500.0         3       2.25         1715
7  2008000270  20150115T000000   291850.0         3       1.50         1060
8  2414600126  20150415T000000   229500.0         3       1.00         1780
9  3793500160  20150312T000000   323000.0         3       2.50         1890

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7        1180              0
1      7242     2.0           0     0  ...      7        2170            400
2     10000     1.0           0     0  ...      6         770              0
3      5000     1.0           0     0  ...      7        1050            910
4      8080     1.0           0     0  ...      8        1680              0
5    101930     1.0           0     0  ...     11        3890           1530
6      6819     2.0           0     0  ...      7        1715              0
7      9711     1.0           0     0  ...      7        1060              0
8      7470     1.0           0     0  ...      7        1050            730
9      6560     2.0           0     0  ...      7        1890              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800
5      2001             0    98053  47.6561 -122.005           4760
6      1995             0    98003  47.3097 -122.327           2238
7      1963             0    98198  47.4095 -122.315           1650
8      1960             0    98146  47.5123 -122.337           1780
9      2003             0    98038  47.3684 -122.031           2390

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503
5      101930
6        6819
7        9711
8        8113
9        7570

[10 rows x 21 columns]

In [15]:
print(type(kc_n_rows))

<class 'pandas.core.frame.DataFrame'>

In [17]:
kc_last_rows = kc_house_data.tail(n=10)
print(kc_last_rows)

               id             date      price  bedrooms  bathrooms  \
21603  7852140040  20140825T000000   507250.0         3       2.50
21604  9834201367  20150126T000000   429000.0         3       2.00
21605  3448900210  20141014T000000   610685.0         4       2.50
21606  7936000429  20150326T000000  1007500.0         4       3.50
21607  2997800021  20150219T000000   475000.0         3       2.50
21608   263000018  20140521T000000   360000.0         3       2.50
21609  6600060120  20150223T000000   400000.0         4       2.50
21610  1523300141  20140623T000000   402101.0         2       0.75
21611   291310100  20150116T000000   400000.0         3       2.50
21612  1523300157  20141015T000000   325000.0         2       0.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
21603         2270      5536     2.0           0     0  ...      8
21604         1490      1126     3.0           0     0  ...      8
21605         2520      6023     2.0           0     0  ...      9
21606         3510      7200     2.0           0     0  ...      9
21607         1310      1294     2.0           0     0  ...      8
21608         1530      1131     3.0           0     0  ...      8
21609         2310      5813     2.0           0     0  ...      8
21610         1020      1350     2.0           0     0  ...      7
21611         1600      2388     2.0           0     0  ...      8
21612         1020      1076     2.0           0     0  ...      7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
21603        2270              0      2003             0    98065  47.5389
21604        1490              0      2014             0    98144  47.5699
21605        2520              0      2014             0    98056  47.5137
21606        2600            910      2009             0    98136  47.5537
21607        1180            130      2008             0    98116  47.5773
21608        1530              0      2009             0    98103  47.6993
21609        2310              0      2014             0    98146  47.5107
21610        1020              0      2009             0    98144  47.5944
21611        1600              0      2004             0    98027  47.5345
21612        1020              0      2008             0    98144  47.5941

          long  sqft_living15  sqft_lot15
21603 -121.881           2270        5731
21604 -122.288           1400        1230
21605 -122.167           2520        6023
21606 -122.398           2050        6200
21607 -122.409           1330        1265
21608 -122.346           1530        1509
21609 -122.362           1830        7200
21610 -122.299           1020        2007
21611 -122.069           1410        1287
21612 -122.299           1020        1357

[10 rows x 21 columns]

In [18]:
print(us_states_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   State   51 non-null     object
 1   Abbrev  51 non-null     object
 2   Code    51 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB
None

In [21]:
titanic_data = pd.read_csv("1.section data/titanic.csv")
print(titanic_data)

      pclass  survived                                             name  \
0          1         1                    Allen, Miss. Elisabeth Walton
1          1         1                   Allison, Master. Hudson Trevor
2          1         0                     Allison, Miss. Helen Loraine
3          1         0             Allison, Mr. Hudson Joshua Creighton
4          1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
...      ...       ...                                              ...
1304       3         0                             Zabour, Miss. Hileni
1305       3         0                            Zabour, Miss. Thamine
1306       3         0                        Zakarian, Mr. Mapriededer
1307       3         0                              Zakarian, Mr. Ortin
1308       3         0                               Zimmerman, Mr. Leo

         sex     age  sibsp  parch  ticket      fare    cabin embarked boat  \
0     female      29      0      0   24160  211.3375       B5        S    2
1       male  0.9167      1      2  113781    151.55  C22 C26        S   11
2     female       2      1      2  113781    151.55  C22 C26        S    ?
3       male      30      1      2  113781    151.55  C22 C26        S    ?
4     female      25      1      2  113781    151.55  C22 C26        S    ?
...      ...     ...    ...    ...     ...       ...      ...      ...  ...
1304  female    14.5      1      0    2665   14.4542        ?        C    ?
1305  female       ?      1      0    2665   14.4542        ?        C    ?
1306    male    26.5      0      0    2656     7.225        ?        C    ?
1307    male      27      0      0    2670     7.225        ?        C    ?
1308    male      29      0      0  315082     7.875        ?        S    ?

     body                        home.dest
0       ?                     St Louis, MO
1       ?  Montreal, PQ / Chesterville, ON
2       ?  Montreal, PQ / Chesterville, ON
3     135  Montreal, PQ / Chesterville, ON
4       ?  Montreal, PQ / Chesterville, ON
...   ...                              ...
1304  328                                ?
1305    ?                                ?
1306  304                                ?
1307    ?                                ?
1308    ?                                ?

[1309 rows x 14 columns]

In [23]:
titanic_columns = titanic_data.columns
print(titanic_columns)

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [24]:
titanic_last_10_rows = titanic_data.tail(10)
print(titanic_last_10_rows)

      pclass  survived                                     name     sex   age  \
1299       3         0                      Yasbeck, Mr. Antoni    male    27
1300       3         1  Yasbeck, Mrs. Antoni (Selini Alexander)  female    15
1301       3         0                     Youseff, Mr. Gerious    male  45.5
1302       3         0                        Yousif, Mr. Wazli    male     ?
1303       3         0                    Yousseff, Mr. Gerious    male     ?
1304       3         0                     Zabour, Miss. Hileni  female  14.5
1305       3         0                    Zabour, Miss. Thamine  female     ?
1306       3         0                Zakarian, Mr. Mapriededer    male  26.5
1307       3         0                      Zakarian, Mr. Ortin    male    27
1308       3         0                       Zimmerman, Mr. Leo    male    29

      sibsp  parch  ticket     fare cabin embarked boat body home.dest
1299      1      0    2659  14.4542     ?        C    C    ?         ?
1300      1      0    2659  14.4542     ?        C    ?    ?         ?
1301      0      0    2628    7.225     ?        C    ?  312         ?
1302      0      0    2647    7.225     ?        C    ?    ?         ?
1303      0      0    2627  14.4583     ?        C    ?    ?         ?
1304      1      0    2665  14.4542     ?        C    ?  328         ?
1305      1      0    2665  14.4542     ?        C    ?    ?         ?
1306      0      0    2656    7.225     ?        C    ?  304         ?
1307      0      0    2670    7.225     ?        C    ?    ?         ?
1308      0      0  315082    7.875     ?        S    ?    ?         ?

In [25]:
titanic_first_10_rows = titanic_data.head(n=10)
print(titanic_first_10_rows)

   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female
5       1         1                              Anderson, Mr. Harry    male
6       1         1                Andrews, Miss. Kornelia Theodosia  female
7       1         0                           Andrews, Mr. Thomas Jr    male
8       1         1    Appleton, Mrs. Edward Dale (Charlotte Lamson)  female
9       1         0                          Artagaveytia, Mr. Ramon    male

      age  sibsp  parch    ticket      fare    cabin embarked boat body  \
0      29      0      0     24160  211.3375       B5        S    2    ?
1  0.9167      1      2    113781    151.55  C22 C26        S   11    ?
2       2      1      2    113781    151.55  C22 C26        S    ?    ?
3      30      1      2    113781    151.55  C22 C26        S    ?  135
4      25      1      2    113781    151.55  C22 C26        S    ?    ?
5      48      0      0     19952     26.55      E12        S    3    ?
6      63      1      0     13502   77.9583       D7        S   10    ?
7      39      0      0    112050         0      A36        S    ?    ?
8      53      2      0     11769   51.4792     C101        S    D    ?
9      71      0      0  PC 17609   49.5042        ?        C    ?   22

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON
5                     New York, NY
6                       Hudson, NY
7                      Belfast, NI
8              Bayside, Queens, NY
9              Montevideo, Uruguay

In [35]:
netflix_data = pd.read_csv("1.section data/netflix_titles.csv", sep="|", index_col=0)
print(netflix_data)

     show_id     type                  title         director  \
0         s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1         s2  TV Show          Blood & Water              NaN
2         s3  TV Show              Ganglands  Julien Leclercq
3         s4  TV Show  Jailbirds New Orleans              NaN
4         s5  TV Show           Kota Factory              NaN
...      ...      ...                    ...              ...
8802   s8803    Movie                 Zodiac    David Fincher
8803   s8804  TV Show            Zombie Dumb              NaN
8804   s8805    Movie             Zombieland  Ruben Fleischer
8805   s8806    Movie                   Zoom     Peter Hewitt
8806   s8807    Movie                 Zubaan      Mozez Singh

                                                   cast        country  \
0                                                   NaN  United States
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                   NaN            NaN
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India
...                                                 ...            ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8803                                                NaN            NaN
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

              date_added  release_year rating   duration  \
0     September 25, 2021          2020  PG-13     90 min
1     September 24, 2021          2021  TV-MA  2 Seasons
2     September 24, 2021          2021  TV-MA   1 Season
3     September 24, 2021          2021  TV-MA   1 Season
4     September 24, 2021          2021  TV-MA  2 Seasons
...                  ...           ...    ...        ...
8802   November 20, 2019          2007      R    158 min
8803        July 1, 2019          2018  TV-Y7  2 Seasons
8804    November 1, 2019          2009      R     88 min
8805    January 11, 2020          2006     PG     88 min
8806       March 2, 2019          2015  TV-14    111 min

                                              listed_in  \
0                                         Documentaries
1       International TV Shows, TV Dramas, TV Mysteries
2     Crime TV Shows, International TV Shows, TV Act...
3                                Docuseries, Reality TV
4     International TV Shows, Romantic TV Shows, TV ...
...                                                 ...
8802                     Cult Movies, Dramas, Thrillers
8803             Kids' TV, Korean TV Shows, TV Comedies
8804                            Comedies, Horror Movies
8805                 Children & Family Movies, Comedies
8806     Dramas, International Movies, Music & Musicals

                                            description
0     As her father nears the end of his life, filmm...
1     After crossing paths at a party, a Cape Town t...
2     To protect his family from a powerful drug lor...
3     Feuds, flirtations and toilet talk go down amo...
4     In a city of coaching centers known to train I...
...                                                 ...
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

[8807 rows x 12 columns]

In [34]:
netflix_column_names = netflix_data.columns
print(netflix_column_names)

Index(['Unnamed: 0', 'show_id', 'type', 'title', 'director', 'cast', 'country',
       'date_added', 'release_year', 'rating', 'duration', 'listed_in',
       'description'],
      dtype='object')

In [36]:
nst_data = pd.read_csv("1.section data/nst-est2020.csv")
print(nst_data)

    SUMLEV REGION DIVISION  STATE                  NAME  CENSUS2010POP  \
0       10      0        0      0         United States      308745538
1       20      1        0      0      Northeast Region       55317240
2       20      2        0      0        Midwest Region       66927001
3       20      3        0      0          South Region      114555744
4       20      4        0      0           West Region       71945553
5       40      3        6      1               Alabama        4779736
6       40      4        9      2                Alaska         710231
7       40      4        8      4               Arizona        6392017
8       40      3        7      5              Arkansas        2915918
9       40      4        9      6            California       37253956
10      40      4        8      8              Colorado        5029196
11      40      1        1      9           Connecticut        3574097
12      40      3        5     10              Delaware         897934
13      40      3        5     11  District of Columbia         601723
14      40      3        5     12               Florida       18801310
15      40      3        5     13               Georgia        9687653
16      40      4        9     15                Hawaii        1360301
17      40      4        8     16                 Idaho        1567582
18      40      2        3     17              Illinois       12830632
19      40      2        3     18               Indiana        6483802
20      40      2        4     19                  Iowa        3046355
21      40      2        4     20                Kansas        2853118
22      40      3        6     21              Kentucky        4339367
23      40      3        7     22             Louisiana        4533372
24      40      1        1     23                 Maine        1328361
25      40      3        5     24              Maryland        5773552
26      40      1        1     25         Massachusetts        6547629
27      40      2        3     26              Michigan        9883640
28      40      2        4     27             Minnesota        5303925
29      40      3        6     28           Mississippi        2967297
30      40      2        4     29              Missouri        5988927
31      40      4        8     30               Montana         989415
32      40      2        4     31              Nebraska        1826341
33      40      4        8     32                Nevada        2700551
34      40      1        1     33         New Hampshire        1316470
35      40      1        2     34            New Jersey        8791894
36      40      4        8     35            New Mexico        2059179
37      40      1        2     36              New York       19378102
38      40      3        5     37        North Carolina        9535483
39      40      2        4     38          North Dakota         672591
40      40      2        3     39                  Ohio       11536504
41      40      3        7     40              Oklahoma        3751351
42      40      4        9     41                Oregon        3831074
43      40      1        2     42          Pennsylvania       12702379
44      40      1        1     44          Rhode Island        1052567
45      40      3        5     45        South Carolina        4625364
46      40      2        4     46          South Dakota         814180
47      40      3        6     47             Tennessee        6346105
48      40      3        7     48                 Texas       25145561
49      40      4        8     49                  Utah        2763885
50      40      1        1     50               Vermont         625741
51      40      3        5     51              Virginia        8001024
52      40      4        9     53            Washington        6724540
53      40      3        5     54         West Virginia        1852994
54      40      2        3     55             Wisconsin        5686986
55      40      4        8     56               Wyoming         563626
56      40      X        X     72           Puerto Rico        3725789

    ESTIMATESBASE2010  POPESTIMATE2010  POPESTIMATE2011  POPESTIMATE2012  \
0           308758105        309327143        311583481        313877662
1            55318414         55380764         55608318         55782661
2            66929737         66975328         67164092         67348275
3           114563042        114869421        116019483        117264196
4            71946912         72101630         72791588         73482530
5             4780118          4785514          4799642          4816632
6              710246           713982           722349           730810
7             6392292          6407342          6473416          6556344
8             2916029          2921998          2941038          2952876
9            37254522         37319550         37636311         37944551
10            5029319          5047539          5121900          5193660
11            3574151          3579173          3588632          3595211
12             897947           899647           907590           915518
13             601767           605282           620290           635737
14           18804589         18846143         19055607         19302016
15            9688737          9712209          9803630          9903580
16            1360304          1364004          1379562          1395199
17            1567658          1570819          1584272          1595910
18           12831572         12840545         12867783         12883029
19            6484050          6490555          6517250          6538989
20            3046877          3050819          3066772          3076844
21            2853120          2858266          2869677          2886024
22            4339330          4348464          4370817          4387865
23            4533500          4544635          4576244          4602067
24            1328354          1327651          1328473          1328094
25            5773787          5788784          5840241          5888375
26            6547788          6566440          6614218          6664269
27            9884112          9877597          9883053          9898289
28            5303933          5310934          5346620          5377500
29            2968129          2970615          2979147          2984599
30            5988941          5996089          6011182          6026027
31             989400           990730           997518          1004168
32            1826311          1829591          1840914          1853691
33            2700683          2702483          2713114          2744670
34            1316457          1316807          1320444          1324677
35            8791959          8799451          8828552          8845671
36            2059199          2064614          2080707          2087715
37           19378117         19399956         19499921         19574362
38            9535762          9574586          9658913          9751810
39             672575           674752           685526           702227
40           11536763         11539449         11545735         11550971
41            3751582          3760014          3788824          3819320
42            3831083          3837614          3872672          3900102
43           12702891         12711406         12747052         12769123
44            1052970          1053994          1053829          1054893
45            4625358          4635846          4672655          4719027
46             814198           816193           823740           833859
47            6346281          6355518          6400298          6455752
48           25146072         25241897         25645504         26084120
49            2763891          2775413          2814797          2854146
50             625727           625886           627197           626361
51            8001046          8024004          8102437          8187456
52            6724540          6743009          6827479          6898599
53            1853008          1854265          1856606          1857446
54            5687285          5690538          5705840          5720825
55             563775           564531           567491           576656
56            3726157          3721525          3678732          3634488

    POPESTIMATE2013  POPESTIMATE2014  POPESTIMATE2015  POPESTIMATE2016  \
0         316059947        318386329        320738994        323071755
1          55912775         56021339         56052790         56063777
2          67576524         67765576         67885682         68018175
3         118397213        119666248        121049223        122419547
4          74173435         74933166         75751299         76570256
5           4831586          4843737          4854803          4866824
6            737626           737075           738430           742575
7           6634690          6732873          6832810          6944767
8           2960459          2968759          2979732          2991815
9          38253768         38586706         38904296         39149186
10          5270774          5352637          5454328          5543844
11          3595792          3595697          3588561          3579830
12           924062           933131           942065           949989
13           651559           663603           677014           687576
14         19551678         19853880         20219111         20627237
15          9975592         10071204         10183353         10308442
16          1408822          1415335          1422999          1428885
17          1612053          1632248          1652495          1684036
18         12895778         12885092         12859585         12821709
19          6570575          6596019          6611442          6637898
20          3093935          3110643          3122541          3133210
21          2894306          2901861          2910717          2912977
22          4406906          4416992          4429126          4440306
23          4626040          4645938          4666998          4681346
24          1328543          1331217          1329098          1332348
25          5925197          5960064          5988528          6007014
26          6715158          6764864          6797484          6827280
27          9914802          9932033          9934483          9954117
28          5414722          5452665          5484002          5525360
29          2989839          2991892          2990231          2990595
30          6042989          6059130          6075411          6091384
31          1014158          1022657          1031495          1042137
32          1865813          1879955          1892059          1906483
33          2776956          2818935          2868531          2919555
34          1327272          1334257          1337480          1343694
35          8857821          8867277          8870312          8873584
36          2092833          2090236          2090071          2092555
37         19626488         19653431         19657321         19636391
38          9846717          9937295         10037218         10161802
39           723149           738736           755537           756114
40         11579692         11606573         11622315         11640060
41          3853891          3879187          3910518          3928143
42          3924110          3965447          4018542          4093271
43         12779538         12792392         12789838         12788468
44          1055560          1056511          1056886          1057816
45          4766469          4826858          4896006          4963031
46           842751           849670           854663           863693
47          6496943          6544617          6595354          6651277
48         26479646         26963092         27468531         27914064
49          2898773          2938327          2983626          3044241
50           626603           625693           625810           624366
51          8255861          8315430          8367303          8417651
52          6966252          7057531          7167287          7299961
53          1854768          1850569          1843332          1832435
54          5738012          5753199          5762927          5775170
55           582620           583159           586389           585243
56          3593077          3534874          3473232          3406672

    POPESTIMATE2017  POPESTIMATE2018  POPESTIMATE2019  POPESTIMATE042020  \
0         325122128        326838199        328329953          329398742
1          56083383         56084543         56002934           55924275
2          68160342         68263019         68340091           68357895
3         123611036        124649156        125686544          126494232
4          77267367         77841481         78300384           78622340
5           4877989          4891628          4907965            4920706
6            740983           736624           733603             732074
7           7048088          7164228          7291843            7393900
8           3003855          3012161          3020985            3029672
9          39337785         39437463         39437610           39418894
10          5617421          5697155          5758486            5798266
11          3575324          3574561          3566022            3561494
12           957942           966985           976668             984899
13           697079           704147           708253             712185
14         20977089         21254926         21492056           21688239
15         10417031         10519389         10628020           10695662
16          1425763          1423102          1415615            1410587
17          1719745          1752074          1789060            1818238
18         12779893         12724685         12667017           12615162
19          6662068          6698481          6731010            6752183
20          3143734          3149900          3159596            3164115
21          2910892          2912748          2912635            2915024
22          4455590          4464273          4472345            4477899
23          4673673          4664450          4658285            4650984
24          1335743          1340123          1345770            1349647
25          6028186          6042153          6054954            6059529
26          6863560          6885720          6894883            6898116
27          9976752          9987286          9984795            9976330
28          5569283          5608762          5640053            5655855
29          2990674          2982879          2978227            2971253
30          6111382          6125986          6140475            6151737
31          1053862          1061818          1070123            1078405
32          1916998          1925512          1932571            1937258
33          2972097          3030725          3090771            3128500
34          1350395          1355064          1360783            1365533
35          8888147          8891730          8891258            8890883
36          2092844          2093754          2099634            2106117
37         19593849         19544098         19463131           19382373
38         10275758         10391358         10501384           10581885
39           756755           760062           763724             765224
40         11665706         11680892         11696507           11699855
41          3933602          3943488          3960676            3977682
42          4147294          4183538          4216116            4237408
43         12794679         12809107         12798883           12794404
44          1056554          1059338          1058158            1058004
45          5027102          5091702          5157702            5205864
46           873732           879386           887127             891688
47          6714748          6778180          6830325            6875939
48         28291024         28624564         28986794           29286467
49          3103540          3155153          3203383            3239542
50           625132           624802           624046             623821
51          8471011          8510920          8556642            8587217
52          7427951          7526793          7614024            7678379
53          1818683          1805953          1795263            1788150
54          5793147          5809319          5824581            5833464
55           579994           579054           580116             582030
56          3325284          3193344          3193553            3167851

    POPESTIMATE2020
0         329484123
1          55849869
2          68316744
3         126662754
4          78654756
5           4921532
6            731158
7           7421401
8           3030522
9          39368078
10          5807719
11          3557006
12           986809
13           712816
14         21733312
15         10710017
16          1407006
17          1826913
18         12587530
19          6754953
20          3163561
21          2913805
22          4477251
23          4645318
24          1350141
25          6055802
26          6893574
27          9966555
28          5657342
29          2966786
30          6151548
31          1080577
32          1937552
33          3138259
34          1366275
35          8882371
36          2106319
37         19336776
38         10600823
39           765309
40         11693217
41          3980783
42          4241507
43         12783254
44          1057125
45          5218040
46           892717
47          6886834
48         29360759
49          3249879
50           623347
51          8590563
52          7693612
53          1784787
54          5832655
55           582328
56          3159343

In [37]:
nst_columns = nst_data.columns
print(nst_columns)

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'NAME', 'CENSUS2010POP',
       'ESTIMATESBASE2010', 'POPESTIMATE2010', 'POPESTIMATE2011',
       'POPESTIMATE2012', 'POPESTIMATE2013', 'POPESTIMATE2014',
       'POPESTIMATE2015', 'POPESTIMATE2016', 'POPESTIMATE2017',
       'POPESTIMATE2018', 'POPESTIMATE2019', 'POPESTIMATE042020',
       'POPESTIMATE2020'],
      dtype='object')

In [39]:
new_names = [name.lower() for name in nst_columns]
print(new_names)

['sumlev', 'region', 'division', 'state', 'name', 'census2010pop', 'estimatesbase2010', 'popestimate2010', 'popestimate2011', 'popestimate2012', 'popestimate2013', 'popestimate2014', 'popestimate2015', 'popestimate2016', 'popestimate2017', 'popestimate2018', 'popestimate2019', 'popestimate042020', 'popestimate2020']

In [41]:
nst_data = pd.read_csv("1.section data/nst-est2020.csv", names=new_names, header=0)
print(nst_data)

    sumlev region division  state                  name  census2010pop  \
0       10      0        0      0         United States      308745538
1       20      1        0      0      Northeast Region       55317240
2       20      2        0      0        Midwest Region       66927001
3       20      3        0      0          South Region      114555744
4       20      4        0      0           West Region       71945553
5       40      3        6      1               Alabama        4779736
6       40      4        9      2                Alaska         710231
7       40      4        8      4               Arizona        6392017
8       40      3        7      5              Arkansas        2915918
9       40      4        9      6            California       37253956
10      40      4        8      8              Colorado        5029196
11      40      1        1      9           Connecticut        3574097
12      40      3        5     10              Delaware         897934
13      40      3        5     11  District of Columbia         601723
14      40      3        5     12               Florida       18801310
15      40      3        5     13               Georgia        9687653
16      40      4        9     15                Hawaii        1360301
17      40      4        8     16                 Idaho        1567582
18      40      2        3     17              Illinois       12830632
19      40      2        3     18               Indiana        6483802
20      40      2        4     19                  Iowa        3046355
21      40      2        4     20                Kansas        2853118
22      40      3        6     21              Kentucky        4339367
23      40      3        7     22             Louisiana        4533372
24      40      1        1     23                 Maine        1328361
25      40      3        5     24              Maryland        5773552
26      40      1        1     25         Massachusetts        6547629
27      40      2        3     26              Michigan        9883640
28      40      2        4     27             Minnesota        5303925
29      40      3        6     28           Mississippi        2967297
30      40      2        4     29              Missouri        5988927
31      40      4        8     30               Montana         989415
32      40      2        4     31              Nebraska        1826341
33      40      4        8     32                Nevada        2700551
34      40      1        1     33         New Hampshire        1316470
35      40      1        2     34            New Jersey        8791894
36      40      4        8     35            New Mexico        2059179
37      40      1        2     36              New York       19378102
38      40      3        5     37        North Carolina        9535483
39      40      2        4     38          North Dakota         672591
40      40      2        3     39                  Ohio       11536504
41      40      3        7     40              Oklahoma        3751351
42      40      4        9     41                Oregon        3831074
43      40      1        2     42          Pennsylvania       12702379
44      40      1        1     44          Rhode Island        1052567
45      40      3        5     45        South Carolina        4625364
46      40      2        4     46          South Dakota         814180
47      40      3        6     47             Tennessee        6346105
48      40      3        7     48                 Texas       25145561
49      40      4        8     49                  Utah        2763885
50      40      1        1     50               Vermont         625741
51      40      3        5     51              Virginia        8001024
52      40      4        9     53            Washington        6724540
53      40      3        5     54         West Virginia        1852994
54      40      2        3     55             Wisconsin        5686986
55      40      4        8     56               Wyoming         563626
56      40      X        X     72           Puerto Rico        3725789

    estimatesbase2010  popestimate2010  popestimate2011  popestimate2012  \
0           308758105        309327143        311583481        313877662
1            55318414         55380764         55608318         55782661
2            66929737         66975328         67164092         67348275
3           114563042        114869421        116019483        117264196
4            71946912         72101630         72791588         73482530
5             4780118          4785514          4799642          4816632
6              710246           713982           722349           730810
7             6392292          6407342          6473416          6556344
8             2916029          2921998          2941038          2952876
9            37254522         37319550         37636311         37944551
10            5029319          5047539          5121900          5193660
11            3574151          3579173          3588632          3595211
12             897947           899647           907590           915518
13             601767           605282           620290           635737
14           18804589         18846143         19055607         19302016
15            9688737          9712209          9803630          9903580
16            1360304          1364004          1379562          1395199
17            1567658          1570819          1584272          1595910
18           12831572         12840545         12867783         12883029
19            6484050          6490555          6517250          6538989
20            3046877          3050819          3066772          3076844
21            2853120          2858266          2869677          2886024
22            4339330          4348464          4370817          4387865
23            4533500          4544635          4576244          4602067
24            1328354          1327651          1328473          1328094
25            5773787          5788784          5840241          5888375
26            6547788          6566440          6614218          6664269
27            9884112          9877597          9883053          9898289
28            5303933          5310934          5346620          5377500
29            2968129          2970615          2979147          2984599
30            5988941          5996089          6011182          6026027
31             989400           990730           997518          1004168
32            1826311          1829591          1840914          1853691
33            2700683          2702483          2713114          2744670
34            1316457          1316807          1320444          1324677
35            8791959          8799451          8828552          8845671
36            2059199          2064614          2080707          2087715
37           19378117         19399956         19499921         19574362
38            9535762          9574586          9658913          9751810
39             672575           674752           685526           702227
40           11536763         11539449         11545735         11550971
41            3751582          3760014          3788824          3819320
42            3831083          3837614          3872672          3900102
43           12702891         12711406         12747052         12769123
44            1052970          1053994          1053829          1054893
45            4625358          4635846          4672655          4719027
46             814198           816193           823740           833859
47            6346281          6355518          6400298          6455752
48           25146072         25241897         25645504         26084120
49            2763891          2775413          2814797          2854146
50             625727           625886           627197           626361
51            8001046          8024004          8102437          8187456
52            6724540          6743009          6827479          6898599
53            1853008          1854265          1856606          1857446
54            5687285          5690538          5705840          5720825
55             563775           564531           567491           576656
56            3726157          3721525          3678732          3634488

    popestimate2013  popestimate2014  popestimate2015  popestimate2016  \
0         316059947        318386329        320738994        323071755
1          55912775         56021339         56052790         56063777
2          67576524         67765576         67885682         68018175
3         118397213        119666248        121049223        122419547
4          74173435         74933166         75751299         76570256
5           4831586          4843737          4854803          4866824
6            737626           737075           738430           742575
7           6634690          6732873          6832810          6944767
8           2960459          2968759          2979732          2991815
9          38253768         38586706         38904296         39149186
10          5270774          5352637          5454328          5543844
11          3595792          3595697          3588561          3579830
12           924062           933131           942065           949989
13           651559           663603           677014           687576
14         19551678         19853880         20219111         20627237
15          9975592         10071204         10183353         10308442
16          1408822          1415335          1422999          1428885
17          1612053          1632248          1652495          1684036
18         12895778         12885092         12859585         12821709
19          6570575          6596019          6611442          6637898
20          3093935          3110643          3122541          3133210
21          2894306          2901861          2910717          2912977
22          4406906          4416992          4429126          4440306
23          4626040          4645938          4666998          4681346
24          1328543          1331217          1329098          1332348
25          5925197          5960064          5988528          6007014
26          6715158          6764864          6797484          6827280
27          9914802          9932033          9934483          9954117
28          5414722          5452665          5484002          5525360
29          2989839          2991892          2990231          2990595
30          6042989          6059130          6075411          6091384
31          1014158          1022657          1031495          1042137
32          1865813          1879955          1892059          1906483
33          2776956          2818935          2868531          2919555
34          1327272          1334257          1337480          1343694
35          8857821          8867277          8870312          8873584
36          2092833          2090236          2090071          2092555
37         19626488         19653431         19657321         19636391
38          9846717          9937295         10037218         10161802
39           723149           738736           755537           756114
40         11579692         11606573         11622315         11640060
41          3853891          3879187          3910518          3928143
42          3924110          3965447          4018542          4093271
43         12779538         12792392         12789838         12788468
44          1055560          1056511          1056886          1057816
45          4766469          4826858          4896006          4963031
46           842751           849670           854663           863693
47          6496943          6544617          6595354          6651277
48         26479646         26963092         27468531         27914064
49          2898773          2938327          2983626          3044241
50           626603           625693           625810           624366
51          8255861          8315430          8367303          8417651
52          6966252          7057531          7167287          7299961
53          1854768          1850569          1843332          1832435
54          5738012          5753199          5762927          5775170
55           582620           583159           586389           585243
56          3593077          3534874          3473232          3406672

    popestimate2017  popestimate2018  popestimate2019  popestimate042020  \
0         325122128        326838199        328329953          329398742
1          56083383         56084543         56002934           55924275
2          68160342         68263019         68340091           68357895
3         123611036        124649156        125686544          126494232
4          77267367         77841481         78300384           78622340
5           4877989          4891628          4907965            4920706
6            740983           736624           733603             732074
7           7048088          7164228          7291843            7393900
8           3003855          3012161          3020985            3029672
9          39337785         39437463         39437610           39418894
10          5617421          5697155          5758486            5798266
11          3575324          3574561          3566022            3561494
12           957942           966985           976668             984899
13           697079           704147           708253             712185
14         20977089         21254926         21492056           21688239
15         10417031         10519389         10628020           10695662
16          1425763          1423102          1415615            1410587
17          1719745          1752074          1789060            1818238
18         12779893         12724685         12667017           12615162
19          6662068          6698481          6731010            6752183
20          3143734          3149900          3159596            3164115
21          2910892          2912748          2912635            2915024
22          4455590          4464273          4472345            4477899
23          4673673          4664450          4658285            4650984
24          1335743          1340123          1345770            1349647
25          6028186          6042153          6054954            6059529
26          6863560          6885720          6894883            6898116
27          9976752          9987286          9984795            9976330
28          5569283          5608762          5640053            5655855
29          2990674          2982879          2978227            2971253
30          6111382          6125986          6140475            6151737
31          1053862          1061818          1070123            1078405
32          1916998          1925512          1932571            1937258
33          2972097          3030725          3090771            3128500
34          1350395          1355064          1360783            1365533
35          8888147          8891730          8891258            8890883
36          2092844          2093754          2099634            2106117
37         19593849         19544098         19463131           19382373
38         10275758         10391358         10501384           10581885
39           756755           760062           763724             765224
40         11665706         11680892         11696507           11699855
41          3933602          3943488          3960676            3977682
42          4147294          4183538          4216116            4237408
43         12794679         12809107         12798883           12794404
44          1056554          1059338          1058158            1058004
45          5027102          5091702          5157702            5205864
46           873732           879386           887127             891688
47          6714748          6778180          6830325            6875939
48         28291024         28624564         28986794           29286467
49          3103540          3155153          3203383            3239542
50           625132           624802           624046             623821
51          8471011          8510920          8556642            8587217
52          7427951          7526793          7614024            7678379
53          1818683          1805953          1795263            1788150
54          5793147          5809319          5824581            5833464
55           579994           579054           580116             582030
56          3325284          3193344          3193553            3167851

    popestimate2020
0         329484123
1          55849869
2          68316744
3         126662754
4          78654756
5           4921532
6            731158
7           7421401
8           3030522
9          39368078
10          5807719
11          3557006
12           986809
13           712816
14         21733312
15         10710017
16          1407006
17          1826913
18         12587530
19          6754953
20          3163561
21          2913805
22          4477251
23          4645318
24          1350141
25          6055802
26          6893574
27          9966555
28          5657342
29          2966786
30          6151548
31          1080577
32          1937552
33          3138259
34          1366275
35          8882371
36          2106319
37         19336776
38         10600823
39           765309
40         11693217
41          3980783
42          4241507
43         12783254
44          1057125
45          5218040
46           892717
47          6886834
48         29360759
49          3249879
50           623347
51          8590563
52          7693612
53          1784787
54          5832655
55           582328
56          3159343

In [43]:
best_sellers_df = pd.read_csv("1.section data/bestsellers.csv")
print(best_sellers_df)

                                                  Name  \
0                        10-Day Green Smoothie Cleanse
1                                    11/22/63: A Novel
2              12 Rules for Life: An Antidote to Chaos
3                               1984 (Signet Classics)
4    5,000 Awesome Facts (About Everything!) (Natio...
..                                                 ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)
546  You Are a Badass: How to Stop Doubting Your Gr...
547  You Are a Badass: How to Stop Doubting Your Gr...
548  You Are a Badass: How to Stop Doubting Your Gr...
549  You Are a Badass: How to Stop Doubting Your Gr...

                       Author  User Rating  Reviews  Price  Year        Genre
0                    JJ Smith          4.7    17350      8  2016  Non Fiction
1                Stephen King          4.6     2052     22  2011      Fiction
2          Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3               George Orwell          4.7    21424      6  2017      Fiction
4    National Geographic Kids          4.8     7665     12  2019  Non Fiction
..                        ...          ...      ...    ...   ...          ...
545               Jeff Kinney          4.9     9413      8  2019      Fiction
546               Jen Sincero          4.7    14331      8  2016  Non Fiction
547               Jen Sincero          4.7    14331      8  2017  Non Fiction
548               Jen Sincero          4.7    14331      8  2018  Non Fiction
549               Jen Sincero          4.7    14331      8  2019  Non Fiction

[550 rows x 7 columns]

In [44]:
best_sellers_info = best_sellers_df.info()
print(best_sellers_info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB
None

In [46]:
best_seller_first_5_rows = best_sellers_df.head()
print(best_seller_first_5_rows)

                                                Name  \
0                      10-Day Green Smoothie Cleanse
1                                  11/22/63: A Novel
2            12 Rules for Life: An Antidote to Chaos
3                             1984 (Signet Classics)
4  5,000 Awesome Facts (About Everything!) (Natio...

                     Author  User Rating  Reviews  Price  Year        Genre
0                  JJ Smith          4.7    17350      8  2016  Non Fiction
1              Stephen King          4.6     2052     22  2011      Fiction
2        Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3             George Orwell          4.7    21424      6  2017      Fiction
4  National Geographic Kids          4.8     7665     12  2019  Non Fiction

In [48]:
best_seller_first_19_rows = best_sellers_df.head(n=19)
print(best_seller_first_19_rows)

                                                 Name  \
0                       10-Day Green Smoothie Cleanse
1                                   11/22/63: A Novel
2             12 Rules for Life: An Antidote to Chaos
3                              1984 (Signet Classics)
4   5,000 Awesome Facts (About Everything!) (Natio...
5       A Dance with Dragons (A Song of Ice and Fire)
6   A Game of Thrones / A Clash of Kings / A Storm...
7                      A Gentleman in Moscow: A Novel
8       A Higher Loyalty: Truth, Lies, and Leadership
9                           A Man Called Ove: A Novel
10                          A Man Called Ove: A Novel
11  A Patriot's History of the United States: From...
12                            A Stolen Life: A Memoir
13                   A Wrinkle in Time (Time Quintet)
14  Act Like a Lady, Think Like a Man: What Men Re...
15  Adult Coloring Book Designs: Stress Relief Col...
16  Adult Coloring Book: Stress Relieving Animal D...
17     Adult Coloring Book: Stress Relieving Patterns
18  Adult Coloring Books: A Coloring Book for Adul...

                         Author  User Rating  Reviews  Price  Year  \
0                      JJ Smith          4.7    17350      8  2016
1                  Stephen King          4.6     2052     22  2011
2            Jordan B. Peterson          4.7    18979     15  2018
3                 George Orwell          4.7    21424      6  2017
4      National Geographic Kids          4.8     7665     12  2019
5           George R. R. Martin          4.4    12643     11  2011
6           George R. R. Martin          4.7    19735     30  2014
7                   Amor Towles          4.7    19699     15  2017
8                   James Comey          4.7     5983      3  2018
9               Fredrik Backman          4.6    23848      8  2016
10              Fredrik Backman          4.6    23848      8  2017
11             Larry Schweikart          4.6      460      2  2010
12                Jaycee Dugard          4.6     4149     32  2011
13            Madeleine L'Engle          4.5     5153      5  2018
14                 Steve Harvey          4.6     5013     17  2009
15  Adult Coloring Book Designs          4.5     2313      4  2016
16           Blue Star Coloring          4.6     2925      6  2015
17           Blue Star Coloring          4.4     2951      6  2015
18    Coloring Books for Adults          4.5     2426      8  2015

          Genre
0   Non Fiction
1       Fiction
2   Non Fiction
3       Fiction
4   Non Fiction
5       Fiction
6       Fiction
7       Fiction
8   Non Fiction
9       Fiction
10      Fiction
11  Non Fiction
12  Non Fiction
13      Fiction
14  Non Fiction
15  Non Fiction
16  Non Fiction
17  Non Fiction
18  Non Fiction

In [49]:
best_sellers_last_10_rows = best_sellers_df.tail()
print(best_sellers_last_10_rows)

                                                  Name       Author  \
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)  Jeff Kinney
546  You Are a Badass: How to Stop Doubting Your Gr...  Jen Sincero
547  You Are a Badass: How to Stop Doubting Your Gr...  Jen Sincero
548  You Are a Badass: How to Stop Doubting Your Gr...  Jen Sincero
549  You Are a Badass: How to Stop Doubting Your Gr...  Jen Sincero

     User Rating  Reviews  Price  Year        Genre
545          4.9     9413      8  2019      Fiction
546          4.7    14331      8  2016  Non Fiction
547          4.7    14331      8  2017  Non Fiction
548          4.7    14331      8  2018  Non Fiction
549          4.7    14331      8  2019  Non Fiction

In [50]:
best_sellers_last_2_rows = best_sellers_df.tail(n=2)
print(best_sellers_last_2_rows)

                                                  Name       Author  \
548  You Are a Badass: How to Stop Doubting Your Gr...  Jen Sincero
549  You Are a Badass: How to Stop Doubting Your Gr...  Jen Sincero

     User Rating  Reviews  Price  Year        Genre
548          4.7    14331      8  2018  Non Fiction
549          4.7    14331      8  2019  Non Fiction

In [52]:
mount_everest_df = pd.read_csv("1.section data/mount_everest_deaths.csv", index_col=0)
print(mount_everest_df)

                       Name          Date   Age  \
No.
1                     Dorje  June 7, 1922   NaN
2                    Lhakpa  June 7, 1922   NaN
3                     Norbu  June 7, 1922   NaN
4                    Pasang  June 7, 1922   NaN
5                      Pema  June 7, 1922   NaN
..                      ...           ...   ...
306  Christopher Jon Kulish  May 27, 2019  62.0
307               Puwei Liu  May 12, 2021  55.0
308           Abdul Waraich  May 12, 2021  41.0
309      Pemba Tashi Sherpa  May 18, 2021  28.0
310      Wong Dorchi Sherpa  May 23, 2021   NaN

                                Expedition    Nationality  \
No.
1    1922 British Mount Everest Expedition          Nepal
2    1922 British Mount Everest Expedition          Nepal
3    1922 British Mount Everest Expedition          Nepal
4    1922 British Mount Everest Expedition          Nepal
5    1922 British Mount Everest Expedition          Nepal
..                                     ...            ...
306             Climbing the Seven Summits  United States
307                     Seven Summit Treks  United States
308                     Seven Summit Treks    Switzerland
309             Climbing the Seven Summits          Nepal
310                         7 Summits Club          Nepal

                   Cause of death                  Location
No.
1                       Avalanche           Below North Col
2                       Avalanche           Below North Col
3                       Avalanche           Below North Col
4                       Avalanche           Below North Col
5                       Avalanche           Below North Col
..                            ...                       ...
306  Cardiac event during descent                 South Col
307                    Exhaustion         Near South Summit
308                    Exhaustion         Near South Summit
309          Fall into a crevasse  Between Camp I & Camp II
310                           NaN            near South Col

[310 rows x 7 columns]

In [53]:
print(mount_everest_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 310 entries, 1 to 310
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            310 non-null    object
 1   Date            310 non-null    object
 2   Age             160 non-null    float64
 3   Expedition      271 non-null    object
 4   Nationality     309 non-null    object
 5   Cause of death  296 non-null    object
 6   Location        291 non-null    object
dtypes: float64(1), object(6)
memory usage: 19.4+ KB
None

In [56]:
column_names = ["id", "title", "year", "imdb_rating", "imdb_id", "genres"]
movie_titles_df = pd.read_csv("1.section data/movie_titles.tsv", sep="\t", names=column_names)
print(movie_titles_df)

       id                       title  year  imdb_rating   imdb_id  \
0      m0  10 things i hate about you  1999          6.9   62847.0
1      m1  1492: conquest of paradise  1992          6.2   10421.0
2      m2                  15 minutes  2001          6.1   25854.0
3      m3       2001: a space odyssey  1968          8.4  163227.0
4      m4                     48 hrs.  1982          6.9   22289.0
..    ...                         ...   ...          ...       ...
612  m612                    watchmen  2009          7.8  135229.0
613  m613                         xxx  2002          5.6   53505.0
614  m614                       x-men  2000          7.4  122149.0
615  m615          young frankenstein  1974          8.0   57618.0
616  m616                   zulu dawn  1979          6.4    1911.0

                                                genres
0                                 ['comedy' 'romance']
1          ['adventure' 'biography' 'drama' 'history']
2                ['action' 'crime' 'drama' 'thriller']
3                     ['adventure' 'mystery' 'sci-fi']
4       ['action' 'comedy' 'crime' 'drama' 'thriller']
..                                                 ...
612  ['action' 'crime' 'fantasy' 'mystery' 'sci-fi'...
613                     ['action' 'adventure' 'crime']
614                                ['action' 'sci-fi']
615                                ['comedy' 'sci-fi']
616     ['action' 'adventure' 'drama' 'history' 'war']

[617 rows x 6 columns]