In [1]:
import pandas as pd
house_dataframe = pd.read_csv("1.section data/kc_house_data.csv")
print(house_dataframe)

               id             date     price  bedrooms  bathrooms  \
0      7129300520  20141013T000000  221900.0         3       1.00
1      6414100192  20141209T000000  538000.0         3       2.25
2      5631500400  20150225T000000  180000.0         2       1.00
3      2487200875  20141209T000000  604000.0         4       3.00
4      1954400510  20150218T000000  510000.0         3       2.00
...           ...              ...       ...       ...        ...
21608   263000018  20140521T000000  360000.0         3       2.50
21609  6600060120  20150223T000000  400000.0         4       2.50
21610  1523300141  20140623T000000  402101.0         2       0.75
21611   291310100  20150116T000000  400000.0         3       2.50
21612  1523300157  20141015T000000  325000.0         2       0.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
0             1180      5650     1.0           0     0  ...      7
1             2570      7242     2.0           0     0  ...      7
2              770     10000     1.0           0     0  ...      6
3             1960      5000     1.0           0     0  ...      7
4             1680      8080     1.0           0     0  ...      8
...            ...       ...     ...         ...   ...  ...    ...
21608         1530      1131     3.0           0     0  ...      8
21609         2310      5813     2.0           0     0  ...      8
21610         1020      1350     2.0           0     0  ...      7
21611         1600      2388     2.0           0     0  ...      8
21612         1020      1076     2.0           0     0  ...      7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
0            1180              0      1955             0    98178  47.5112
1            2170            400      1951          1991    98125  47.7210
2             770              0      1933             0    98028  47.7379
3            1050            910      1965             0    98136  47.5208
4            1680              0      1987             0    98074  47.6168
...           ...            ...       ...           ...      ...      ...
21608        1530              0      2009             0    98103  47.6993
21609        2310              0      2014             0    98146  47.5107
21610        1020              0      2009             0    98144  47.5944
21611        1600              0      2004             0    98027  47.5345
21612        1020              0      2008             0    98144  47.5941

          long  sqft_living15  sqft_lot15
0     -122.257           1340        5650
1     -122.319           1690        7639
2     -122.233           2720        8062
3     -122.393           1360        5000
4     -122.045           1800        7503
...        ...            ...         ...
21608 -122.346           1530        1509
21609 -122.362           1830        7200
21610 -122.299           1020        2007
21611 -122.069           1410        1287
21612 -122.299           1020        1357

[21613 rows x 21 columns]

In [2]:
print(house_dataframe.min())

id                       1000102
date             20140502T000000
price                    75000.0
bedrooms                       0
bathrooms                    0.0
sqft_living                  290
sqft_lot                     520
floors                       1.0
waterfront                     0
view                           0
condition                      1
grade                          1
sqft_above                   290
sqft_basement                  0
yr_built                    1900
yr_renovated                   0
zipcode                    98001
lat                      47.1559
long                    -122.519
sqft_living15                399
sqft_lot15                   651
dtype: object

In [3]:
print(house_dataframe.max())

id                    9900000190
date             20150527T000000
price                  7700000.0
bedrooms                      33
bathrooms                    8.0
sqft_living                13540
sqft_lot                 1651359
floors                       3.5
waterfront                     1
view                           4
condition                      5
grade                         13
sqft_above                  9410
sqft_basement               4820
yr_built                    2015
yr_renovated                2015
zipcode                    98199
lat                      47.7776
long                    -121.315
sqft_living15               6210
sqft_lot15                871200
dtype: object

In [4]:
print(house_dataframe.sum(numeric_only=True))

id               9.899406e+13
price            1.167293e+10
bedrooms         7.285400e+04
bathrooms        4.570625e+04
sqft_living      4.495287e+07
sqft_lot         3.265069e+08
floors           3.229650e+04
waterfront       1.630000e+02
view             5.064000e+03
condition        7.368800e+04
grade            1.654880e+05
sqft_above       3.865249e+07
sqft_basement    6.300385e+06
yr_built         4.259933e+07
yr_renovated     1.824186e+06
zipcode          2.119759e+09
lat              1.027915e+06
long            -2.641409e+06
sqft_living15    4.293536e+07
sqft_lot15       2.759646e+08
dtype: float64

Analysing Titanic Dataset

In [5]:
titanic_dataframe = pd.read_csv("1.section data/titanic.csv")
print(titanic_dataframe)

      pclass  survived                                             name  \
0          1         1                    Allen, Miss. Elisabeth Walton
1          1         1                   Allison, Master. Hudson Trevor
2          1         0                     Allison, Miss. Helen Loraine
3          1         0             Allison, Mr. Hudson Joshua Creighton
4          1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
...      ...       ...                                              ...
1304       3         0                             Zabour, Miss. Hileni
1305       3         0                            Zabour, Miss. Thamine
1306       3         0                        Zakarian, Mr. Mapriededer
1307       3         0                              Zakarian, Mr. Ortin
1308       3         0                               Zimmerman, Mr. Leo

         sex     age  sibsp  parch  ticket      fare    cabin embarked boat  \
0     female      29      0      0   24160  211.3375       B5        S    2
1       male  0.9167      1      2  113781    151.55  C22 C26        S   11
2     female       2      1      2  113781    151.55  C22 C26        S    ?
3       male      30      1      2  113781    151.55  C22 C26        S    ?
4     female      25      1      2  113781    151.55  C22 C26        S    ?
...      ...     ...    ...    ...     ...       ...      ...      ...  ...
1304  female    14.5      1      0    2665   14.4542        ?        C    ?
1305  female       ?      1      0    2665   14.4542        ?        C    ?
1306    male    26.5      0      0    2656     7.225        ?        C    ?
1307    male      27      0      0    2670     7.225        ?        C    ?
1308    male      29      0      0  315082     7.875        ?        S    ?

     body                        home.dest
0       ?                     St Louis, MO
1       ?  Montreal, PQ / Chesterville, ON
2       ?  Montreal, PQ / Chesterville, ON
3     135  Montreal, PQ / Chesterville, ON
4       ?  Montreal, PQ / Chesterville, ON
...   ...                              ...
1304  328                                ?
1305    ?                                ?
1306  304                                ?
1307    ?                                ?
1308    ?                                ?

[1309 rows x 14 columns]

In [6]:
print(titanic_dataframe.sum())

pclass                                                    3004
survived                                                   500
name         Allen, Miss. Elisabeth WaltonAllison, Master. ...
sex          femalemalefemalemalefemalemalefemalemalefemale...
age          290.91672302548633953714718242680?245032363747...
sibsp                                                      653
parch                                                      504
ticket       2416011378111378111378111378119952135021120501...
fare         211.3375151.55151.55151.55151.5526.5577.958305...
cabin        B5C22 C26C22 C26C22 C26C22 C26E12D7A36C101?C62...
embarked     SSSSSSSSSCCCCSSSCCCCSSCCSCCCSSSCSSSCSSSCCCSCCS...
boat         211???310?D??496B??68A55548?778D?788?469???6D8...
body         ???135?????22124??????????????148?????????????...
home.dest    St Louis, MOMontreal, PQ / Chesterville, ONMon...
dtype: object

In [7]:
print(titanic_dataframe.sum(numeric_only=True))

pclass      3004
survived     500
sibsp        653
parch        504
dtype: int64

In [8]:
state_population_dataframe = pd.read_csv("1.section data/nst-est2020.csv")
print(state_population_dataframe)

    SUMLEV REGION DIVISION  STATE                  NAME  CENSUS2010POP  \
0       10      0        0      0         United States      308745538
1       20      1        0      0      Northeast Region       55317240
2       20      2        0      0        Midwest Region       66927001
3       20      3        0      0          South Region      114555744
4       20      4        0      0           West Region       71945553
5       40      3        6      1               Alabama        4779736
6       40      4        9      2                Alaska         710231
7       40      4        8      4               Arizona        6392017
8       40      3        7      5              Arkansas        2915918
9       40      4        9      6            California       37253956
10      40      4        8      8              Colorado        5029196
11      40      1        1      9           Connecticut        3574097
12      40      3        5     10              Delaware         897934
13      40      3        5     11  District of Columbia         601723
14      40      3        5     12               Florida       18801310
15      40      3        5     13               Georgia        9687653
16      40      4        9     15                Hawaii        1360301
17      40      4        8     16                 Idaho        1567582
18      40      2        3     17              Illinois       12830632
19      40      2        3     18               Indiana        6483802
20      40      2        4     19                  Iowa        3046355
21      40      2        4     20                Kansas        2853118
22      40      3        6     21              Kentucky        4339367
23      40      3        7     22             Louisiana        4533372
24      40      1        1     23                 Maine        1328361
25      40      3        5     24              Maryland        5773552
26      40      1        1     25         Massachusetts        6547629
27      40      2        3     26              Michigan        9883640
28      40      2        4     27             Minnesota        5303925
29      40      3        6     28           Mississippi        2967297
30      40      2        4     29              Missouri        5988927
31      40      4        8     30               Montana         989415
32      40      2        4     31              Nebraska        1826341
33      40      4        8     32                Nevada        2700551
34      40      1        1     33         New Hampshire        1316470
35      40      1        2     34            New Jersey        8791894
36      40      4        8     35            New Mexico        2059179
37      40      1        2     36              New York       19378102
38      40      3        5     37        North Carolina        9535483
39      40      2        4     38          North Dakota         672591
40      40      2        3     39                  Ohio       11536504
41      40      3        7     40              Oklahoma        3751351
42      40      4        9     41                Oregon        3831074
43      40      1        2     42          Pennsylvania       12702379
44      40      1        1     44          Rhode Island        1052567
45      40      3        5     45        South Carolina        4625364
46      40      2        4     46          South Dakota         814180
47      40      3        6     47             Tennessee        6346105
48      40      3        7     48                 Texas       25145561
49      40      4        8     49                  Utah        2763885
50      40      1        1     50               Vermont         625741
51      40      3        5     51              Virginia        8001024
52      40      4        9     53            Washington        6724540
53      40      3        5     54         West Virginia        1852994
54      40      2        3     55             Wisconsin        5686986
55      40      4        8     56               Wyoming         563626
56      40      X        X     72           Puerto Rico        3725789

    ESTIMATESBASE2010  POPESTIMATE2010  POPESTIMATE2011  POPESTIMATE2012  \
0           308758105        309327143        311583481        313877662
1            55318414         55380764         55608318         55782661
2            66929737         66975328         67164092         67348275
3           114563042        114869421        116019483        117264196
4            71946912         72101630         72791588         73482530
5             4780118          4785514          4799642          4816632
6              710246           713982           722349           730810
7             6392292          6407342          6473416          6556344
8             2916029          2921998          2941038          2952876
9            37254522         37319550         37636311         37944551
10            5029319          5047539          5121900          5193660
11            3574151          3579173          3588632          3595211
12             897947           899647           907590           915518
13             601767           605282           620290           635737
14           18804589         18846143         19055607         19302016
15            9688737          9712209          9803630          9903580
16            1360304          1364004          1379562          1395199
17            1567658          1570819          1584272          1595910
18           12831572         12840545         12867783         12883029
19            6484050          6490555          6517250          6538989
20            3046877          3050819          3066772          3076844
21            2853120          2858266          2869677          2886024
22            4339330          4348464          4370817          4387865
23            4533500          4544635          4576244          4602067
24            1328354          1327651          1328473          1328094
25            5773787          5788784          5840241          5888375
26            6547788          6566440          6614218          6664269
27            9884112          9877597          9883053          9898289
28            5303933          5310934          5346620          5377500
29            2968129          2970615          2979147          2984599
30            5988941          5996089          6011182          6026027
31             989400           990730           997518          1004168
32            1826311          1829591          1840914          1853691
33            2700683          2702483          2713114          2744670
34            1316457          1316807          1320444          1324677
35            8791959          8799451          8828552          8845671
36            2059199          2064614          2080707          2087715
37           19378117         19399956         19499921         19574362
38            9535762          9574586          9658913          9751810
39             672575           674752           685526           702227
40           11536763         11539449         11545735         11550971
41            3751582          3760014          3788824          3819320
42            3831083          3837614          3872672          3900102
43           12702891         12711406         12747052         12769123
44            1052970          1053994          1053829          1054893
45            4625358          4635846          4672655          4719027
46             814198           816193           823740           833859
47            6346281          6355518          6400298          6455752
48           25146072         25241897         25645504         26084120
49            2763891          2775413          2814797          2854146
50             625727           625886           627197           626361
51            8001046          8024004          8102437          8187456
52            6724540          6743009          6827479          6898599
53            1853008          1854265          1856606          1857446
54            5687285          5690538          5705840          5720825
55             563775           564531           567491           576656
56            3726157          3721525          3678732          3634488

    POPESTIMATE2013  POPESTIMATE2014  POPESTIMATE2015  POPESTIMATE2016  \
0         316059947        318386329        320738994        323071755
1          55912775         56021339         56052790         56063777
2          67576524         67765576         67885682         68018175
3         118397213        119666248        121049223        122419547
4          74173435         74933166         75751299         76570256
5           4831586          4843737          4854803          4866824
6            737626           737075           738430           742575
7           6634690          6732873          6832810          6944767
8           2960459          2968759          2979732          2991815
9          38253768         38586706         38904296         39149186
10          5270774          5352637          5454328          5543844
11          3595792          3595697          3588561          3579830
12           924062           933131           942065           949989
13           651559           663603           677014           687576
14         19551678         19853880         20219111         20627237
15          9975592         10071204         10183353         10308442
16          1408822          1415335          1422999          1428885
17          1612053          1632248          1652495          1684036
18         12895778         12885092         12859585         12821709
19          6570575          6596019          6611442          6637898
20          3093935          3110643          3122541          3133210
21          2894306          2901861          2910717          2912977
22          4406906          4416992          4429126          4440306
23          4626040          4645938          4666998          4681346
24          1328543          1331217          1329098          1332348
25          5925197          5960064          5988528          6007014
26          6715158          6764864          6797484          6827280
27          9914802          9932033          9934483          9954117
28          5414722          5452665          5484002          5525360
29          2989839          2991892          2990231          2990595
30          6042989          6059130          6075411          6091384
31          1014158          1022657          1031495          1042137
32          1865813          1879955          1892059          1906483
33          2776956          2818935          2868531          2919555
34          1327272          1334257          1337480          1343694
35          8857821          8867277          8870312          8873584
36          2092833          2090236          2090071          2092555
37         19626488         19653431         19657321         19636391
38          9846717          9937295         10037218         10161802
39           723149           738736           755537           756114
40         11579692         11606573         11622315         11640060
41          3853891          3879187          3910518          3928143
42          3924110          3965447          4018542          4093271
43         12779538         12792392         12789838         12788468
44          1055560          1056511          1056886          1057816
45          4766469          4826858          4896006          4963031
46           842751           849670           854663           863693
47          6496943          6544617          6595354          6651277
48         26479646         26963092         27468531         27914064
49          2898773          2938327          2983626          3044241
50           626603           625693           625810           624366
51          8255861          8315430          8367303          8417651
52          6966252          7057531          7167287          7299961
53          1854768          1850569          1843332          1832435
54          5738012          5753199          5762927          5775170
55           582620           583159           586389           585243
56          3593077          3534874          3473232          3406672

    POPESTIMATE2017  POPESTIMATE2018  POPESTIMATE2019  POPESTIMATE042020  \
0         325122128        326838199        328329953          329398742
1          56083383         56084543         56002934           55924275
2          68160342         68263019         68340091           68357895
3         123611036        124649156        125686544          126494232
4          77267367         77841481         78300384           78622340
5           4877989          4891628          4907965            4920706
6            740983           736624           733603             732074
7           7048088          7164228          7291843            7393900
8           3003855          3012161          3020985            3029672
9          39337785         39437463         39437610           39418894
10          5617421          5697155          5758486            5798266
11          3575324          3574561          3566022            3561494
12           957942           966985           976668             984899
13           697079           704147           708253             712185
14         20977089         21254926         21492056           21688239
15         10417031         10519389         10628020           10695662
16          1425763          1423102          1415615            1410587
17          1719745          1752074          1789060            1818238
18         12779893         12724685         12667017           12615162
19          6662068          6698481          6731010            6752183
20          3143734          3149900          3159596            3164115
21          2910892          2912748          2912635            2915024
22          4455590          4464273          4472345            4477899
23          4673673          4664450          4658285            4650984
24          1335743          1340123          1345770            1349647
25          6028186          6042153          6054954            6059529
26          6863560          6885720          6894883            6898116
27          9976752          9987286          9984795            9976330
28          5569283          5608762          5640053            5655855
29          2990674          2982879          2978227            2971253
30          6111382          6125986          6140475            6151737
31          1053862          1061818          1070123            1078405
32          1916998          1925512          1932571            1937258
33          2972097          3030725          3090771            3128500
34          1350395          1355064          1360783            1365533
35          8888147          8891730          8891258            8890883
36          2092844          2093754          2099634            2106117
37         19593849         19544098         19463131           19382373
38         10275758         10391358         10501384           10581885
39           756755           760062           763724             765224
40         11665706         11680892         11696507           11699855
41          3933602          3943488          3960676            3977682
42          4147294          4183538          4216116            4237408
43         12794679         12809107         12798883           12794404
44          1056554          1059338          1058158            1058004
45          5027102          5091702          5157702            5205864
46           873732           879386           887127             891688
47          6714748          6778180          6830325            6875939
48         28291024         28624564         28986794           29286467
49          3103540          3155153          3203383            3239542
50           625132           624802           624046             623821
51          8471011          8510920          8556642            8587217
52          7427951          7526793          7614024            7678379
53          1818683          1805953          1795263            1788150
54          5793147          5809319          5824581            5833464
55           579994           579054           580116             582030
56          3325284          3193344          3193553            3167851

    POPESTIMATE2020
0         329484123
1          55849869
2          68316744
3         126662754
4          78654756
5           4921532
6            731158
7           7421401
8           3030522
9          39368078
10          5807719
11          3557006
12           986809
13           712816
14         21733312
15         10710017
16          1407006
17          1826913
18         12587530
19          6754953
20          3163561
21          2913805
22          4477251
23          4645318
24          1350141
25          6055802
26          6893574
27          9966555
28          5657342
29          2966786
30          6151548
31          1080577
32          1937552
33          3138259
34          1366275
35          8882371
36          2106319
37         19336776
38         10600823
39           765309
40         11693217
41          3980783
42          4241507
43         12783254
44          1057125
45          5218040
46           892717
47          6886834
48         29360759
49          3249879
50           623347
51          8590563
52          7693612
53          1784787
54          5832655
55           582328
56          3159343

In [9]:
state_old_column_names = state_population_dataframe.columns
state_new_column_names = [name.lower() for name in state_old_column_names]
print(state_new_column_names)

['sumlev', 'region', 'division', 'state', 'name', 'census2010pop', 'estimatesbase2010', 'popestimate2010', 'popestimate2011', 'popestimate2012', 'popestimate2013', 'popestimate2014', 'popestimate2015', 'popestimate2016', 'popestimate2017', 'popestimate2018', 'popestimate2019', 'popestimate042020', 'popestimate2020']

In [10]:
column_names_dict = {}
index_position = 0
for name in state_old_column_names:
    column_names_dict[name] = state_new_column_names[index_position]
    index_position += 1
    
print(column_names_dict)

{'SUMLEV': 'sumlev', 'REGION': 'region', 'DIVISION': 'division', 'STATE': 'state', 'NAME': 'name', 'CENSUS2010POP': 'census2010pop', 'ESTIMATESBASE2010': 'estimatesbase2010', 'POPESTIMATE2010': 'popestimate2010', 'POPESTIMATE2011': 'popestimate2011', 'POPESTIMATE2012': 'popestimate2012', 'POPESTIMATE2013': 'popestimate2013', 'POPESTIMATE2014': 'popestimate2014', 'POPESTIMATE2015': 'popestimate2015', 'POPESTIMATE2016': 'popestimate2016', 'POPESTIMATE2017': 'popestimate2017', 'POPESTIMATE2018': 'popestimate2018', 'POPESTIMATE2019': 'popestimate2019', 'POPESTIMATE042020': 'popestimate042020', 'POPESTIMATE2020': 'popestimate2020'}

In [11]:
state_population_dataframe.rename(columns=column_names_dict, inplace=True)
print(state_population_dataframe)

    sumlev region division  state                  name  census2010pop  \
0       10      0        0      0         United States      308745538
1       20      1        0      0      Northeast Region       55317240
2       20      2        0      0        Midwest Region       66927001
3       20      3        0      0          South Region      114555744
4       20      4        0      0           West Region       71945553
5       40      3        6      1               Alabama        4779736
6       40      4        9      2                Alaska         710231
7       40      4        8      4               Arizona        6392017
8       40      3        7      5              Arkansas        2915918
9       40      4        9      6            California       37253956
10      40      4        8      8              Colorado        5029196
11      40      1        1      9           Connecticut        3574097
12      40      3        5     10              Delaware         897934
13      40      3        5     11  District of Columbia         601723
14      40      3        5     12               Florida       18801310
15      40      3        5     13               Georgia        9687653
16      40      4        9     15                Hawaii        1360301
17      40      4        8     16                 Idaho        1567582
18      40      2        3     17              Illinois       12830632
19      40      2        3     18               Indiana        6483802
20      40      2        4     19                  Iowa        3046355
21      40      2        4     20                Kansas        2853118
22      40      3        6     21              Kentucky        4339367
23      40      3        7     22             Louisiana        4533372
24      40      1        1     23                 Maine        1328361
25      40      3        5     24              Maryland        5773552
26      40      1        1     25         Massachusetts        6547629
27      40      2        3     26              Michigan        9883640
28      40      2        4     27             Minnesota        5303925
29      40      3        6     28           Mississippi        2967297
30      40      2        4     29              Missouri        5988927
31      40      4        8     30               Montana         989415
32      40      2        4     31              Nebraska        1826341
33      40      4        8     32                Nevada        2700551
34      40      1        1     33         New Hampshire        1316470
35      40      1        2     34            New Jersey        8791894
36      40      4        8     35            New Mexico        2059179
37      40      1        2     36              New York       19378102
38      40      3        5     37        North Carolina        9535483
39      40      2        4     38          North Dakota         672591
40      40      2        3     39                  Ohio       11536504
41      40      3        7     40              Oklahoma        3751351
42      40      4        9     41                Oregon        3831074
43      40      1        2     42          Pennsylvania       12702379
44      40      1        1     44          Rhode Island        1052567
45      40      3        5     45        South Carolina        4625364
46      40      2        4     46          South Dakota         814180
47      40      3        6     47             Tennessee        6346105
48      40      3        7     48                 Texas       25145561
49      40      4        8     49                  Utah        2763885
50      40      1        1     50               Vermont         625741
51      40      3        5     51              Virginia        8001024
52      40      4        9     53            Washington        6724540
53      40      3        5     54         West Virginia        1852994
54      40      2        3     55             Wisconsin        5686986
55      40      4        8     56               Wyoming         563626
56      40      X        X     72           Puerto Rico        3725789

    estimatesbase2010  popestimate2010  popestimate2011  popestimate2012  \
0           308758105        309327143        311583481        313877662
1            55318414         55380764         55608318         55782661
2            66929737         66975328         67164092         67348275
3           114563042        114869421        116019483        117264196
4            71946912         72101630         72791588         73482530
5             4780118          4785514          4799642          4816632
6              710246           713982           722349           730810
7             6392292          6407342          6473416          6556344
8             2916029          2921998          2941038          2952876
9            37254522         37319550         37636311         37944551
10            5029319          5047539          5121900          5193660
11            3574151          3579173          3588632          3595211
12             897947           899647           907590           915518
13             601767           605282           620290           635737
14           18804589         18846143         19055607         19302016
15            9688737          9712209          9803630          9903580
16            1360304          1364004          1379562          1395199
17            1567658          1570819          1584272          1595910
18           12831572         12840545         12867783         12883029
19            6484050          6490555          6517250          6538989
20            3046877          3050819          3066772          3076844
21            2853120          2858266          2869677          2886024
22            4339330          4348464          4370817          4387865
23            4533500          4544635          4576244          4602067
24            1328354          1327651          1328473          1328094
25            5773787          5788784          5840241          5888375
26            6547788          6566440          6614218          6664269
27            9884112          9877597          9883053          9898289
28            5303933          5310934          5346620          5377500
29            2968129          2970615          2979147          2984599
30            5988941          5996089          6011182          6026027
31             989400           990730           997518          1004168
32            1826311          1829591          1840914          1853691
33            2700683          2702483          2713114          2744670
34            1316457          1316807          1320444          1324677
35            8791959          8799451          8828552          8845671
36            2059199          2064614          2080707          2087715
37           19378117         19399956         19499921         19574362
38            9535762          9574586          9658913          9751810
39             672575           674752           685526           702227
40           11536763         11539449         11545735         11550971
41            3751582          3760014          3788824          3819320
42            3831083          3837614          3872672          3900102
43           12702891         12711406         12747052         12769123
44            1052970          1053994          1053829          1054893
45            4625358          4635846          4672655          4719027
46             814198           816193           823740           833859
47            6346281          6355518          6400298          6455752
48           25146072         25241897         25645504         26084120
49            2763891          2775413          2814797          2854146
50             625727           625886           627197           626361
51            8001046          8024004          8102437          8187456
52            6724540          6743009          6827479          6898599
53            1853008          1854265          1856606          1857446
54            5687285          5690538          5705840          5720825
55             563775           564531           567491           576656
56            3726157          3721525          3678732          3634488

    popestimate2013  popestimate2014  popestimate2015  popestimate2016  \
0         316059947        318386329        320738994        323071755
1          55912775         56021339         56052790         56063777
2          67576524         67765576         67885682         68018175
3         118397213        119666248        121049223        122419547
4          74173435         74933166         75751299         76570256
5           4831586          4843737          4854803          4866824
6            737626           737075           738430           742575
7           6634690          6732873          6832810          6944767
8           2960459          2968759          2979732          2991815
9          38253768         38586706         38904296         39149186
10          5270774          5352637          5454328          5543844
11          3595792          3595697          3588561          3579830
12           924062           933131           942065           949989
13           651559           663603           677014           687576
14         19551678         19853880         20219111         20627237
15          9975592         10071204         10183353         10308442
16          1408822          1415335          1422999          1428885
17          1612053          1632248          1652495          1684036
18         12895778         12885092         12859585         12821709
19          6570575          6596019          6611442          6637898
20          3093935          3110643          3122541          3133210
21          2894306          2901861          2910717          2912977
22          4406906          4416992          4429126          4440306
23          4626040          4645938          4666998          4681346
24          1328543          1331217          1329098          1332348
25          5925197          5960064          5988528          6007014
26          6715158          6764864          6797484          6827280
27          9914802          9932033          9934483          9954117
28          5414722          5452665          5484002          5525360
29          2989839          2991892          2990231          2990595
30          6042989          6059130          6075411          6091384
31          1014158          1022657          1031495          1042137
32          1865813          1879955          1892059          1906483
33          2776956          2818935          2868531          2919555
34          1327272          1334257          1337480          1343694
35          8857821          8867277          8870312          8873584
36          2092833          2090236          2090071          2092555
37         19626488         19653431         19657321         19636391
38          9846717          9937295         10037218         10161802
39           723149           738736           755537           756114
40         11579692         11606573         11622315         11640060
41          3853891          3879187          3910518          3928143
42          3924110          3965447          4018542          4093271
43         12779538         12792392         12789838         12788468
44          1055560          1056511          1056886          1057816
45          4766469          4826858          4896006          4963031
46           842751           849670           854663           863693
47          6496943          6544617          6595354          6651277
48         26479646         26963092         27468531         27914064
49          2898773          2938327          2983626          3044241
50           626603           625693           625810           624366
51          8255861          8315430          8367303          8417651
52          6966252          7057531          7167287          7299961
53          1854768          1850569          1843332          1832435
54          5738012          5753199          5762927          5775170
55           582620           583159           586389           585243
56          3593077          3534874          3473232          3406672

    popestimate2017  popestimate2018  popestimate2019  popestimate042020  \
0         325122128        326838199        328329953          329398742
1          56083383         56084543         56002934           55924275
2          68160342         68263019         68340091           68357895
3         123611036        124649156        125686544          126494232
4          77267367         77841481         78300384           78622340
5           4877989          4891628          4907965            4920706
6            740983           736624           733603             732074
7           7048088          7164228          7291843            7393900
8           3003855          3012161          3020985            3029672
9          39337785         39437463         39437610           39418894
10          5617421          5697155          5758486            5798266
11          3575324          3574561          3566022            3561494
12           957942           966985           976668             984899
13           697079           704147           708253             712185
14         20977089         21254926         21492056           21688239
15         10417031         10519389         10628020           10695662
16          1425763          1423102          1415615            1410587
17          1719745          1752074          1789060            1818238
18         12779893         12724685         12667017           12615162
19          6662068          6698481          6731010            6752183
20          3143734          3149900          3159596            3164115
21          2910892          2912748          2912635            2915024
22          4455590          4464273          4472345            4477899
23          4673673          4664450          4658285            4650984
24          1335743          1340123          1345770            1349647
25          6028186          6042153          6054954            6059529
26          6863560          6885720          6894883            6898116
27          9976752          9987286          9984795            9976330
28          5569283          5608762          5640053            5655855
29          2990674          2982879          2978227            2971253
30          6111382          6125986          6140475            6151737
31          1053862          1061818          1070123            1078405
32          1916998          1925512          1932571            1937258
33          2972097          3030725          3090771            3128500
34          1350395          1355064          1360783            1365533
35          8888147          8891730          8891258            8890883
36          2092844          2093754          2099634            2106117
37         19593849         19544098         19463131           19382373
38         10275758         10391358         10501384           10581885
39           756755           760062           763724             765224
40         11665706         11680892         11696507           11699855
41          3933602          3943488          3960676            3977682
42          4147294          4183538          4216116            4237408
43         12794679         12809107         12798883           12794404
44          1056554          1059338          1058158            1058004
45          5027102          5091702          5157702            5205864
46           873732           879386           887127             891688
47          6714748          6778180          6830325            6875939
48         28291024         28624564         28986794           29286467
49          3103540          3155153          3203383            3239542
50           625132           624802           624046             623821
51          8471011          8510920          8556642            8587217
52          7427951          7526793          7614024            7678379
53          1818683          1805953          1795263            1788150
54          5793147          5809319          5824581            5833464
55           579994           579054           580116             582030
56          3325284          3193344          3193553            3167851

    popestimate2020
0         329484123
1          55849869
2          68316744
3         126662754
4          78654756
5           4921532
6            731158
7           7421401
8           3030522
9          39368078
10          5807719
11          3557006
12           986809
13           712816
14         21733312
15         10710017
16          1407006
17          1826913
18         12587530
19          6754953
20          3163561
21          2913805
22          4477251
23          4645318
24          1350141
25          6055802
26          6893574
27          9966555
28          5657342
29          2966786
30          6151548
31          1080577
32          1937552
33          3138259
34          1366275
35          8882371
36          2106319
37         19336776
38         10600823
39           765309
40         11693217
41          3980783
42          4241507
43         12783254
44          1057125
45          5218040
46           892717
47          6886834
48         29360759
49          3249879
50           623347
51          8590563
52          7693612
53          1784787
54          5832655
55           582328
56          3159343

In [12]:
state_population = state_population_dataframe.tail(n=52)
print(state_population)

    sumlev region division  state                  name  census2010pop  \
5       40      3        6      1               Alabama        4779736
6       40      4        9      2                Alaska         710231
7       40      4        8      4               Arizona        6392017
8       40      3        7      5              Arkansas        2915918
9       40      4        9      6            California       37253956
10      40      4        8      8              Colorado        5029196
11      40      1        1      9           Connecticut        3574097
12      40      3        5     10              Delaware         897934
13      40      3        5     11  District of Columbia         601723
14      40      3        5     12               Florida       18801310
15      40      3        5     13               Georgia        9687653
16      40      4        9     15                Hawaii        1360301
17      40      4        8     16                 Idaho        1567582
18      40      2        3     17              Illinois       12830632
19      40      2        3     18               Indiana        6483802
20      40      2        4     19                  Iowa        3046355
21      40      2        4     20                Kansas        2853118
22      40      3        6     21              Kentucky        4339367
23      40      3        7     22             Louisiana        4533372
24      40      1        1     23                 Maine        1328361
25      40      3        5     24              Maryland        5773552
26      40      1        1     25         Massachusetts        6547629
27      40      2        3     26              Michigan        9883640
28      40      2        4     27             Minnesota        5303925
29      40      3        6     28           Mississippi        2967297
30      40      2        4     29              Missouri        5988927
31      40      4        8     30               Montana         989415
32      40      2        4     31              Nebraska        1826341
33      40      4        8     32                Nevada        2700551
34      40      1        1     33         New Hampshire        1316470
35      40      1        2     34            New Jersey        8791894
36      40      4        8     35            New Mexico        2059179
37      40      1        2     36              New York       19378102
38      40      3        5     37        North Carolina        9535483
39      40      2        4     38          North Dakota         672591
40      40      2        3     39                  Ohio       11536504
41      40      3        7     40              Oklahoma        3751351
42      40      4        9     41                Oregon        3831074
43      40      1        2     42          Pennsylvania       12702379
44      40      1        1     44          Rhode Island        1052567
45      40      3        5     45        South Carolina        4625364
46      40      2        4     46          South Dakota         814180
47      40      3        6     47             Tennessee        6346105
48      40      3        7     48                 Texas       25145561
49      40      4        8     49                  Utah        2763885
50      40      1        1     50               Vermont         625741
51      40      3        5     51              Virginia        8001024
52      40      4        9     53            Washington        6724540
53      40      3        5     54         West Virginia        1852994
54      40      2        3     55             Wisconsin        5686986
55      40      4        8     56               Wyoming         563626
56      40      X        X     72           Puerto Rico        3725789

    estimatesbase2010  popestimate2010  popestimate2011  popestimate2012  \
5             4780118          4785514          4799642          4816632
6              710246           713982           722349           730810
7             6392292          6407342          6473416          6556344
8             2916029          2921998          2941038          2952876
9            37254522         37319550         37636311         37944551
10            5029319          5047539          5121900          5193660
11            3574151          3579173          3588632          3595211
12             897947           899647           907590           915518
13             601767           605282           620290           635737
14           18804589         18846143         19055607         19302016
15            9688737          9712209          9803630          9903580
16            1360304          1364004          1379562          1395199
17            1567658          1570819          1584272          1595910
18           12831572         12840545         12867783         12883029
19            6484050          6490555          6517250          6538989
20            3046877          3050819          3066772          3076844
21            2853120          2858266          2869677          2886024
22            4339330          4348464          4370817          4387865
23            4533500          4544635          4576244          4602067
24            1328354          1327651          1328473          1328094
25            5773787          5788784          5840241          5888375
26            6547788          6566440          6614218          6664269
27            9884112          9877597          9883053          9898289
28            5303933          5310934          5346620          5377500
29            2968129          2970615          2979147          2984599
30            5988941          5996089          6011182          6026027
31             989400           990730           997518          1004168
32            1826311          1829591          1840914          1853691
33            2700683          2702483          2713114          2744670
34            1316457          1316807          1320444          1324677
35            8791959          8799451          8828552          8845671
36            2059199          2064614          2080707          2087715
37           19378117         19399956         19499921         19574362
38            9535762          9574586          9658913          9751810
39             672575           674752           685526           702227
40           11536763         11539449         11545735         11550971
41            3751582          3760014          3788824          3819320
42            3831083          3837614          3872672          3900102
43           12702891         12711406         12747052         12769123
44            1052970          1053994          1053829          1054893
45            4625358          4635846          4672655          4719027
46             814198           816193           823740           833859
47            6346281          6355518          6400298          6455752
48           25146072         25241897         25645504         26084120
49            2763891          2775413          2814797          2854146
50             625727           625886           627197           626361
51            8001046          8024004          8102437          8187456
52            6724540          6743009          6827479          6898599
53            1853008          1854265          1856606          1857446
54            5687285          5690538          5705840          5720825
55             563775           564531           567491           576656
56            3726157          3721525          3678732          3634488

    popestimate2013  popestimate2014  popestimate2015  popestimate2016  \
5           4831586          4843737          4854803          4866824
6            737626           737075           738430           742575
7           6634690          6732873          6832810          6944767
8           2960459          2968759          2979732          2991815
9          38253768         38586706         38904296         39149186
10          5270774          5352637          5454328          5543844
11          3595792          3595697          3588561          3579830
12           924062           933131           942065           949989
13           651559           663603           677014           687576
14         19551678         19853880         20219111         20627237
15          9975592         10071204         10183353         10308442
16          1408822          1415335          1422999          1428885
17          1612053          1632248          1652495          1684036
18         12895778         12885092         12859585         12821709
19          6570575          6596019          6611442          6637898
20          3093935          3110643          3122541          3133210
21          2894306          2901861          2910717          2912977
22          4406906          4416992          4429126          4440306
23          4626040          4645938          4666998          4681346
24          1328543          1331217          1329098          1332348
25          5925197          5960064          5988528          6007014
26          6715158          6764864          6797484          6827280
27          9914802          9932033          9934483          9954117
28          5414722          5452665          5484002          5525360
29          2989839          2991892          2990231          2990595
30          6042989          6059130          6075411          6091384
31          1014158          1022657          1031495          1042137
32          1865813          1879955          1892059          1906483
33          2776956          2818935          2868531          2919555
34          1327272          1334257          1337480          1343694
35          8857821          8867277          8870312          8873584
36          2092833          2090236          2090071          2092555
37         19626488         19653431         19657321         19636391
38          9846717          9937295         10037218         10161802
39           723149           738736           755537           756114
40         11579692         11606573         11622315         11640060
41          3853891          3879187          3910518          3928143
42          3924110          3965447          4018542          4093271
43         12779538         12792392         12789838         12788468
44          1055560          1056511          1056886          1057816
45          4766469          4826858          4896006          4963031
46           842751           849670           854663           863693
47          6496943          6544617          6595354          6651277
48         26479646         26963092         27468531         27914064
49          2898773          2938327          2983626          3044241
50           626603           625693           625810           624366
51          8255861          8315430          8367303          8417651
52          6966252          7057531          7167287          7299961
53          1854768          1850569          1843332          1832435
54          5738012          5753199          5762927          5775170
55           582620           583159           586389           585243
56          3593077          3534874          3473232          3406672

    popestimate2017  popestimate2018  popestimate2019  popestimate042020  \
5           4877989          4891628          4907965            4920706
6            740983           736624           733603             732074
7           7048088          7164228          7291843            7393900
8           3003855          3012161          3020985            3029672
9          39337785         39437463         39437610           39418894
10          5617421          5697155          5758486            5798266
11          3575324          3574561          3566022            3561494
12           957942           966985           976668             984899
13           697079           704147           708253             712185
14         20977089         21254926         21492056           21688239
15         10417031         10519389         10628020           10695662
16          1425763          1423102          1415615            1410587
17          1719745          1752074          1789060            1818238
18         12779893         12724685         12667017           12615162
19          6662068          6698481          6731010            6752183
20          3143734          3149900          3159596            3164115
21          2910892          2912748          2912635            2915024
22          4455590          4464273          4472345            4477899
23          4673673          4664450          4658285            4650984
24          1335743          1340123          1345770            1349647
25          6028186          6042153          6054954            6059529
26          6863560          6885720          6894883            6898116
27          9976752          9987286          9984795            9976330
28          5569283          5608762          5640053            5655855
29          2990674          2982879          2978227            2971253
30          6111382          6125986          6140475            6151737
31          1053862          1061818          1070123            1078405
32          1916998          1925512          1932571            1937258
33          2972097          3030725          3090771            3128500
34          1350395          1355064          1360783            1365533
35          8888147          8891730          8891258            8890883
36          2092844          2093754          2099634            2106117
37         19593849         19544098         19463131           19382373
38         10275758         10391358         10501384           10581885
39           756755           760062           763724             765224
40         11665706         11680892         11696507           11699855
41          3933602          3943488          3960676            3977682
42          4147294          4183538          4216116            4237408
43         12794679         12809107         12798883           12794404
44          1056554          1059338          1058158            1058004
45          5027102          5091702          5157702            5205864
46           873732           879386           887127             891688
47          6714748          6778180          6830325            6875939
48         28291024         28624564         28986794           29286467
49          3103540          3155153          3203383            3239542
50           625132           624802           624046             623821
51          8471011          8510920          8556642            8587217
52          7427951          7526793          7614024            7678379
53          1818683          1805953          1795263            1788150
54          5793147          5809319          5824581            5833464
55           579994           579054           580116             582030
56          3325284          3193344          3193553            3167851

    popestimate2020
5           4921532
6            731158
7           7421401
8           3030522
9          39368078
10          5807719
11          3557006
12           986809
13           712816
14         21733312
15         10710017
16          1407006
17          1826913
18         12587530
19          6754953
20          3163561
21          2913805
22          4477251
23          4645318
24          1350141
25          6055802
26          6893574
27          9966555
28          5657342
29          2966786
30          6151548
31          1080577
32          1937552
33          3138259
34          1366275
35          8882371
36          2106319
37         19336776
38         10600823
39           765309
40         11693217
41          3980783
42          4241507
43         12783254
44          1057125
45          5218040
46           892717
47          6886834
48         29360759
49          3249879
50           623347
51          8590563
52          7693612
53          1784787
54          5832655
55           582328
56          3159343

In [13]:
print(state_population.sum(numeric_only=True))

sumlev                    2080
state                     1549
census2010pop        312471327
estimatesbase2010    312484262
popestimate2010      313048668
popestimate2011      315262213
popestimate2012      317512150
popestimate2013      319653024
popestimate2014      321921203
popestimate2015      324212226
popestimate2016      326478427
popestimate2017      328447412
popestimate2018      330031543
popestimate2019      331523506
popestimate042020    332566593
popestimate2020      332643466
dtype: int64

In [14]:
print(state_population_dataframe.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sumlev             57 non-null     int64
 1   region             57 non-null     object
 2   division           57 non-null     object
 3   state              57 non-null     int64
 4   name               57 non-null     object
 5   census2010pop      57 non-null     int64
 6   estimatesbase2010  57 non-null     int64
 7   popestimate2010    57 non-null     int64
 8   popestimate2011    57 non-null     int64
 9   popestimate2012    57 non-null     int64
 10  popestimate2013    57 non-null     int64
 11  popestimate2014    57 non-null     int64
 12  popestimate2015    57 non-null     int64
 13  popestimate2016    57 non-null     int64
 14  popestimate2017    57 non-null     int64
 15  popestimate2018    57 non-null     int64
 16  popestimate2019    57 non-null     int64
 17  popestimate042020  57 non-null     int64
 18  popestimate2020    57 non-null     int64
dtypes: int64(16), object(3)
memory usage: 8.6+ KB
None

In [15]:
print(state_population_dataframe.count())

sumlev               57
region               57
division             57
state                57
name                 57
census2010pop        57
estimatesbase2010    57
popestimate2010      57
popestimate2011      57
popestimate2012      57
popestimate2013      57
popestimate2014      57
popestimate2015      57
popestimate2016      57
popestimate2017      57
popestimate2018      57
popestimate2019      57
popestimate042020    57
popestimate2020      57
dtype: int64

In [16]:
netflix_dataframe = pd.read_csv("1.section data/netflix_titles.csv", sep="|")
print(netflix_dataframe)

      Unnamed: 0 show_id     type                  title         director  \
0              0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1              1      s2  TV Show          Blood & Water              NaN
2              2      s3  TV Show              Ganglands  Julien Leclercq
3              3      s4  TV Show  Jailbirds New Orleans              NaN
4              4      s5  TV Show           Kota Factory              NaN
...          ...     ...      ...                    ...              ...
8802        8802   s8803    Movie                 Zodiac    David Fincher
8803        8803   s8804  TV Show            Zombie Dumb              NaN
8804        8804   s8805    Movie             Zombieland  Ruben Fleischer
8805        8805   s8806    Movie                   Zoom     Peter Hewitt
8806        8806   s8807    Movie                 Zubaan      Mozez Singh

                                                   cast        country  \
0                                                   NaN  United States
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                   NaN            NaN
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India
...                                                 ...            ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8803                                                NaN            NaN
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

              date_added  release_year rating   duration  \
0     September 25, 2021          2020  PG-13     90 min
1     September 24, 2021          2021  TV-MA  2 Seasons
2     September 24, 2021          2021  TV-MA   1 Season
3     September 24, 2021          2021  TV-MA   1 Season
4     September 24, 2021          2021  TV-MA  2 Seasons
...                  ...           ...    ...        ...
8802   November 20, 2019          2007      R    158 min
8803        July 1, 2019          2018  TV-Y7  2 Seasons
8804    November 1, 2019          2009      R     88 min
8805    January 11, 2020          2006     PG     88 min
8806       March 2, 2019          2015  TV-14    111 min

                                              listed_in  \
0                                         Documentaries
1       International TV Shows, TV Dramas, TV Mysteries
2     Crime TV Shows, International TV Shows, TV Act...
3                                Docuseries, Reality TV
4     International TV Shows, Romantic TV Shows, TV ...
...                                                 ...
8802                     Cult Movies, Dramas, Thrillers
8803             Kids' TV, Korean TV Shows, TV Comedies
8804                            Comedies, Horror Movies
8805                 Children & Family Movies, Comedies
8806     Dramas, International Movies, Music & Musicals

                                            description
0     As her father nears the end of his life, filmm...
1     After crossing paths at a party, a Cape Town t...
2     To protect his family from a powerful drug lor...
3     Feuds, flirtations and toilet talk go down amo...
4     In a city of coaching centers known to train I...
...                                                 ...
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

[8807 rows x 13 columns]

In [17]:
print(netflix_dataframe.count())

Unnamed: 0      8807
show_id         8807
type            8807
title           8807
director        6173
cast            7982
country         7976
date_added      8797
release_year    8807
rating          8803
duration        8804
listed_in       8807
description     8807
dtype: int64

In [18]:
print(house_dataframe.columns)

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [19]:
print(house_dataframe.mean(numeric_only=True))

id               4.580302e+09
price            5.400881e+05
bedrooms         3.370842e+00
bathrooms        2.114757e+00
sqft_living      2.079900e+03
sqft_lot         1.510697e+04
floors           1.494309e+00
waterfront       7.541757e-03
view             2.343034e-01
condition        3.409430e+00
grade            7.656873e+00
sqft_above       1.788391e+03
sqft_basement    2.915090e+02
yr_built         1.971005e+03
yr_renovated     8.440226e+01
zipcode          9.807794e+04
lat              4.756005e+01
long            -1.222139e+02
sqft_living15    1.986552e+03
sqft_lot15       1.276846e+04
dtype: float64

In [20]:
print(titanic_dataframe.columns)

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [21]:
print(titanic_dataframe.mean(numeric_only=True))

pclass      2.294882
survived    0.381971
sibsp       0.498854
parch       0.385027
dtype: float64

In [22]:
print(titanic_dataframe.median(numeric_only=True))

pclass      3.0
survived    0.0
sibsp       0.0
parch       0.0
dtype: float64

In [23]:
print(house_dataframe.columns)

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [24]:
print(house_dataframe.median(numeric_only=True))

id               3.904930e+09
price            4.500000e+05
bedrooms         3.000000e+00
bathrooms        2.250000e+00
sqft_living      1.910000e+03
sqft_lot         7.618000e+03
floors           1.500000e+00
waterfront       0.000000e+00
view             0.000000e+00
condition        3.000000e+00
grade            7.000000e+00
sqft_above       1.560000e+03
sqft_basement    0.000000e+00
yr_built         1.975000e+03
yr_renovated     0.000000e+00
zipcode          9.806500e+04
lat              4.757180e+01
long            -1.222300e+02
sqft_living15    1.840000e+03
sqft_lot15       7.620000e+03
dtype: float64

In [25]:
print(titanic_dataframe.mode())

   pclass  survived                  name   sex  age  sibsp  parch    ticket  \
0     3.0       0.0  Connolly, Miss. Kate  male    ?    0.0    0.0  CA. 2343
1     NaN       NaN      Kelly, Mr. James   NaN  NaN    NaN    NaN       NaN

   fare cabin embarked boat body home.dest
0  8.05     ?        S    ?    ?         ?
1   NaN   NaN      NaN  NaN  NaN       NaN

In [26]:
print(titanic_dataframe.mode(numeric_only=True))

   pclass  survived  sibsp  parch
0       3         0      0      0

In [28]:
print(titanic_dataframe.describe())

            pclass     survived        sibsp        parch
count  1309.000000  1309.000000  1309.000000  1309.000000
mean      2.294882     0.381971     0.498854     0.385027
std       0.837836     0.486055     1.041658     0.865560
min       1.000000     0.000000     0.000000     0.000000
25%       2.000000     0.000000     0.000000     0.000000
50%       3.000000     0.000000     0.000000     0.000000
75%       3.000000     1.000000     1.000000     0.000000
max       3.000000     1.000000     8.000000     9.000000

In [31]:
house_dataframe.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [32]:
titanic_dataframe.describe()

            pclass     survived        sibsp        parch
count  1309.000000  1309.000000  1309.000000  1309.000000
mean      2.294882     0.381971     0.498854     0.385027
std       0.837836     0.486055     1.041658     0.865560
min       1.000000     0.000000     0.000000     0.000000
25%       2.000000     0.000000     0.000000     0.000000
50%       3.000000     0.000000     0.000000     0.000000
75%       3.000000     1.000000     1.000000     0.000000
max       3.000000     1.000000     8.000000     9.000000

In [33]:
house_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [35]:
titanic_dataframe.describe(include=["object"])

,name,sex,age,ticket,fare,cabin,embarked,boat,body,home.dest
count,1309,1309,1309,1309,1309,1309,1309,1309,1309,1309
unique,1307,2,99,929,282,187,4,28,122,370
top,"Connolly, Miss. Kate",male,?,CA. 2343,8.05,?,S,?,?,?
freq,2,843,263,11,60,1014,914,823,1188,564

In [38]:
netflix_dataframe.describe(include=["object", "int64"])

,Unnamed: 0,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,8807.000000,8807,8807,8807,6173,7982,7976,8797,8807.000000,8803,8804,8807,8807
unique,NaN,8807,2,8807,4528,7692,748,1767,NaN,17,220,514,8775
top,NaN,s1,Movie,Dick Johnson Is Dead,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",NaN,TV-MA,1 Season,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,NaN,1,6131,1,19,19,2818,109,NaN,3207,1793,362,4
mean,4403.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.180198,NaN,NaN,NaN,NaN
std,2542.506244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.819312,NaN,NaN,NaN,NaN
min,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1925.000000,NaN,NaN,NaN,NaN
25%,2201.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.000000,NaN,NaN,NaN,NaN
50%,4403.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.000000,NaN,NaN,NaN,NaN
75%,6604.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.000000,NaN,NaN,NaN,NaN
max,8806.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN

In [41]:
best_seller_dataframe = pd.read_csv("1.section data/bestsellers.csv")

In [42]:
best_seller_dataframe

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [43]:
best_seller_dataframe.describe()
# the lowest rating is 3.30000
# the highest price is 105.00000
# the average user rating is 4.618364

       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

In [45]:
print(best_seller_dataframe.columns)

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'], dtype='object')

In [47]:
print(best_seller_dataframe.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB
None

In [51]:
best_seller_dataframe.head(n=5).describe()
#the average user rating is 4.700000

       User Rating       Reviews      Price         Year
count     5.000000      5.000000   5.000000     5.000000
mean      4.700000  13494.000000  12.600000  2016.200000
std       0.070711   8257.352269   6.308724     3.114482
min       4.600000   2052.000000   6.000000  2011.000000
25%       4.700000   7665.000000   8.000000  2016.000000
50%       4.700000  17350.000000  12.000000  2017.000000
75%       4.700000  18979.000000  15.000000  2018.000000
max       4.800000  21424.000000  22.000000  2019.000000

In [60]:
best_seller_dataframe.mode()
# The most frequent user rating is 4.8

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,Publication Manual of the American Psychologic...,Jeff Kinney,4.8,8580.0,8.0,2009,Non Fiction
1,NaN,NaN,NaN,NaN,NaN,2010,NaN
2,NaN,NaN,NaN,NaN,NaN,2011,NaN
3,NaN,NaN,NaN,NaN,NaN,2012,NaN
4,NaN,NaN,NaN,NaN,NaN,2013,NaN
5,NaN,NaN,NaN,NaN,NaN,2014,NaN
6,NaN,NaN,NaN,NaN,NaN,2015,NaN
7,NaN,NaN,NaN,NaN,NaN,2016,NaN
8,NaN,NaN,NaN,NaN,NaN,2017,NaN
9,NaN,NaN,NaN,NaN,NaN,2018,NaN
10,NaN,NaN,NaN,NaN,NaN,2019,NaN

In [53]:
print(best_seller_dataframe.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB
None

In [58]:
best_seller_dataframe.sum(numeric_only=True)
# The sum of reviews column is 6574305.0

User Rating       2540.1
Reviews        6574305.0
Price             7205.0
Year           1107700.0
dtype: float64

In [59]:
best_seller_dataframe.describe(include=["object"])
# 248 unique authors are present in the dataset
# jeff kinney wrote the most number of books on the list i.e 12

,Name,Author,Genre
count,550,550,550
unique,351,248,2
top,Publication Manual of the American Psychologic...,Jeff Kinney,Non Fiction
freq,10,12,310