In [1]:
import pandas as pd
houses_dataframe = pd.read_csv(filepath_or_buffer = "1.section data/kc_house_data.csv")
titanic_dataframe = pd.read_csv(filepath_or_buffer = "1.section data/titanic.csv")
netflix_dataframe = pd.read_csv(filepath_or_buffer = "1.section data/netflix_titles.csv", sep="|", index_col=0)
bitcoin_dataframe = pd.read_csv(filepath_or_buffer = "1.section data/coin_Bitcoin.csv")
countries_dataframe = pd.read_csv(filepath_or_buffer = "1.section data/world-happiness-report-2021.csv")

In [2]:
bitcoin_dataframe

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.000000e+00,1.603769e+09
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.000000e+00,1.542813e+09
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.000000e+00,1.298955e+09
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.000000e+00,1.168517e+09
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.000000e+00,1.085995e+09
...,...,...,...,...,...,...,...,...,...,...
2986,2987,Bitcoin,BTC,2021-07-02 23:59:59,33939.588699,32770.680780,33549.600177,33897.048590,3.872897e+10,6.354508e+11
2987,2988,Bitcoin,BTC,2021-07-03 23:59:59,34909.259899,33402.696536,33854.421362,34668.548402,2.438396e+10,6.499397e+11
2988,2989,Bitcoin,BTC,2021-07-04 23:59:59,35937.567147,34396.477458,34665.564866,35287.779766,2.492431e+10,6.615748e+11
2989,2990,Bitcoin,BTC,2021-07-05 23:59:59,35284.344430,33213.661034,35284.344430,33746.002456,2.672155e+10,6.326962e+11
2990,2991,Bitcoin,BTC,2021-07-06 23:59:59,35038.536363,33599.916169,33723.509655,34235.193451,2.650126e+10,6.418992e+11

In [3]:
# Dropping columns from a dataframe
bitcoin_dataframe.drop(labels=["Name", "Symbol"], axis=1)

,SNo,Date,High,Low,Open,Close,Volume,Marketcap
0,1,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.000000e+00,1.603769e+09
1,2,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.000000e+00,1.542813e+09
2,3,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.000000e+00,1.298955e+09
3,4,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.000000e+00,1.168517e+09
4,5,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.000000e+00,1.085995e+09
...,...,...,...,...,...,...,...,...
2986,2987,2021-07-02 23:59:59,33939.588699,32770.680780,33549.600177,33897.048590,3.872897e+10,6.354508e+11
2987,2988,2021-07-03 23:59:59,34909.259899,33402.696536,33854.421362,34668.548402,2.438396e+10,6.499397e+11
2988,2989,2021-07-04 23:59:59,35937.567147,34396.477458,34665.564866,35287.779766,2.492431e+10,6.615748e+11
2989,2990,2021-07-05 23:59:59,35284.344430,33213.661034,35284.344430,33746.002456,2.672155e+10,6.326962e+11
2990,2991,2021-07-06 23:59:59,35038.536363,33599.916169,33723.509655,34235.193451,2.650126e+10,6.418992e+11

In [4]:
bitcoin_dataframe.drop(labels=["SNo", "Name", "Symbol"], axis=1)

,Date,High,Low,Open,Close,Volume,Marketcap
0,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.000000e+00,1.603769e+09
1,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.000000e+00,1.542813e+09
2,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.000000e+00,1.298955e+09
3,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.000000e+00,1.168517e+09
4,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.000000e+00,1.085995e+09
...,...,...,...,...,...,...,...
2986,2021-07-02 23:59:59,33939.588699,32770.680780,33549.600177,33897.048590,3.872897e+10,6.354508e+11
2987,2021-07-03 23:59:59,34909.259899,33402.696536,33854.421362,34668.548402,2.438396e+10,6.499397e+11
2988,2021-07-04 23:59:59,35937.567147,34396.477458,34665.564866,35287.779766,2.492431e+10,6.615748e+11
2989,2021-07-05 23:59:59,35284.344430,33213.661034,35284.344430,33746.002456,2.672155e+10,6.326962e+11
2990,2021-07-06 23:59:59,35038.536363,33599.916169,33723.509655,34235.193451,2.650126e+10,6.418992e+11

In [5]:
bitcoin_dataframe.drop(columns=["SNo", "Name", "Symbol"])

,Date,High,Low,Open,Close,Volume,Marketcap
0,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.000000e+00,1.603769e+09
1,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.000000e+00,1.542813e+09
2,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.000000e+00,1.298955e+09
3,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.000000e+00,1.168517e+09
4,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.000000e+00,1.085995e+09
...,...,...,...,...,...,...,...
2986,2021-07-02 23:59:59,33939.588699,32770.680780,33549.600177,33897.048590,3.872897e+10,6.354508e+11
2987,2021-07-03 23:59:59,34909.259899,33402.696536,33854.421362,34668.548402,2.438396e+10,6.499397e+11
2988,2021-07-04 23:59:59,35937.567147,34396.477458,34665.564866,35287.779766,2.492431e+10,6.615748e+11
2989,2021-07-05 23:59:59,35284.344430,33213.661034,35284.344430,33746.002456,2.672155e+10,6.326962e+11
2990,2021-07-06 23:59:59,35038.536363,33599.916169,33723.509655,34235.193451,2.650126e+10,6.418992e+11

In [6]:
bitcoin_dataframe[["High", "Low"]]

              High           Low
0       147.488007    134.000000
1       146.929993    134.050003
2       139.889999    107.720001
3       125.599998     92.281898
4       108.127998     79.099998
...            ...           ...
2986  33939.588699  32770.680780
2987  34909.259899  33402.696536
2988  35937.567147  34396.477458
2989  35284.344430  33213.661034
2990  35038.536363  33599.916169

[2991 rows x 2 columns]

In [7]:
countries_dataframe

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
145,Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
146,Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
147,Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [8]:
countries_dataframe.set_index(keys="Country name", inplace=True)

In [9]:
countries_dataframe

,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [10]:
# Dropping rows
countries_dataframe.drop(labels="Denmark", axis=0)

,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
Norway,Western Europe,7.392,0.035,7.462,7.323,11.053,0.954,73.300,0.960,0.093,0.270,2.43,1.543,1.108,0.782,0.703,0.249,0.427,2.580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [11]:
countries_dataframe.drop(labels=["Denmark", "Finland", "Iceland"], axis=0)

,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
Norway,Western Europe,7.392,0.035,7.462,7.323,11.053,0.954,73.300,0.960,0.093,0.270,2.43,1.543,1.108,0.782,0.703,0.249,0.427,2.580
Sweden,Western Europe,7.363,0.036,7.433,7.293,10.867,0.934,72.700,0.945,0.086,0.237,2.43,1.478,1.062,0.763,0.685,0.244,0.448,2.683
Luxembourg,Western Europe,7.324,0.037,7.396,7.252,11.647,0.908,72.600,0.907,-0.034,0.386,2.43,1.751,1.003,0.760,0.639,0.166,0.353,2.653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [12]:
countries_dataframe

,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [13]:
# Dropping based on index positions
countries_dataframe.drop(countries_dataframe.index[0:3])

,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
Norway,Western Europe,7.392,0.035,7.462,7.323,11.053,0.954,73.300,0.960,0.093,0.270,2.43,1.543,1.108,0.782,0.703,0.249,0.427,2.580
Sweden,Western Europe,7.363,0.036,7.433,7.293,10.867,0.934,72.700,0.945,0.086,0.237,2.43,1.478,1.062,0.763,0.685,0.244,0.448,2.683
Luxembourg,Western Europe,7.324,0.037,7.396,7.252,11.647,0.908,72.600,0.907,-0.034,0.386,2.43,1.751,1.003,0.760,0.639,0.166,0.353,2.653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [14]:
#Adding a new column to our dataframe by default it inserts the column to the end
titanic_dataframe["species"] = "human"

In [15]:
titanic_dataframe

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest,species
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO",human
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,?,"Montreal, PQ / Chesterville, ON",human
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON",human
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,?,135,"Montreal, PQ / Chesterville, ON",human
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON",human
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,?,C,?,328,?,human
1305,3,0,"Zabour, Miss. Thamine",female,?,1,0,2665,14.4542,?,C,?,?,?,human
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.225,?,C,?,304,?,human
1307,3,0,"Zakarian, Mr. Ortin",male,27,0,0,2670,7.225,?,C,?,?,?,human
1308,3,0,"Zimmerman, Mr. Leo",male,29,0,0,315082,7.875,?,S,?,?,?,human

In [16]:
houses_dataframe

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [17]:
# insert a new column on the desired location
houses_dataframe.insert(loc=1, column="county", value="king county")

In [18]:
houses_dataframe

,id,county,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,king county,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,king county,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,king county,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,king county,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,king county,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,king county,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,king county,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,king county,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,king county,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,king county,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [19]:
titanic_dataframe.drop(labels="species", axis=1, inplace=True)

In [20]:
titanic_dataframe

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,?,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,?,135,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,?,C,?,328,?
1305,3,0,"Zabour, Miss. Thamine",female,?,1,0,2665,14.4542,?,C,?,?,?
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.225,?,C,?,304,?
1307,3,0,"Zakarian, Mr. Ortin",male,27,0,0,2670,7.225,?,C,?,?,?
1308,3,0,"Zimmerman, Mr. Leo",male,29,0,0,315082,7.875,?,S,?,?,?

In [21]:
# Adding dynamic values to the column
titanic_dataframe.insert(loc=7, column="num relatives", value=titanic_dataframe["sibsp"] + titanic_dataframe["parch"])

In [22]:
titanic_dataframe

,pclass,survived,name,sex,age,sibsp,parch,num relatives,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,3,113781,151.55,C22 C26,S,11,?,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,3,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,3,113781,151.55,C22 C26,S,?,135,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,3,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,1,2665,14.4542,?,C,?,328,?
1305,3,0,"Zabour, Miss. Thamine",female,?,1,0,1,2665,14.4542,?,C,?,?,?
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,0,2656,7.225,?,C,?,304,?
1307,3,0,"Zakarian, Mr. Ortin",male,27,0,0,0,2670,7.225,?,C,?,?,?
1308,3,0,"Zimmerman, Mr. Leo",male,29,0,0,0,315082,7.875,?,S,?,?,?

In [23]:
titanic_dataframe.sort_values(by="num relatives",ascending=False)

,pclass,survived,name,sex,age,sibsp,parch,num relatives,ticket,fare,cabin,embarked,boat,body,home.dest
1177,3,0,"Sage, Mr. Frederick",male,?,8,2,10,CA. 2343,69.55,?,S,?,?,?
1179,3,0,"Sage, Mr. John George",male,?,1,9,10,CA. 2343,69.55,?,S,?,?,?
1173,3,0,"Sage, Miss. Constance Gladys",female,?,8,2,10,CA. 2343,69.55,?,S,?,?,?
1170,3,0,"Sage, Master. Thomas Henry",male,?,8,2,10,CA. 2343,69.55,?,S,?,?,?
1172,3,0,"Sage, Miss. Ada",female,?,8,2,10,CA. 2343,69.55,?,S,?,?,?
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,2,1,"Wright, Miss. Marion",female,26,0,0,0,220844,13.5,?,S,9,?,"Yoevil, England / Cottage Grove, OR"
599,2,0,"Yrois, Miss. Henriette ('Mrs Harbeck')",female,24,0,0,0,248747,13,?,S,?,?,Paris
600,3,0,"Abbing, Mr. Anthony",male,42,0,0,0,C.A. 5547,7.55,?,S,?,?,?
604,3,1,"Abelseth, Miss. Karen Marie",female,16,0,0,0,348125,7.65,?,S,16,?,"Norway Los Angeles, CA"
1308,3,0,"Zimmerman, Mr. Leo",male,29,0,0,0,315082,7.875,?,S,?,?,?

In [24]:
titanic_dataframe[titanic_dataframe["survived"] == 1].sort_values(by="num relatives", ascending=False)

,pclass,survived,name,sex,age,sibsp,parch,num relatives,ticket,fare,cabin,embarked,boat,body,home.dest
641,3,1,"Asplund, Master. Edvin Rojj Felix",male,3,4,2,6,347077,31.3875,?,S,15,?,"Sweden Worcester, MA"
625,3,1,"Andersson, Miss. Erna Alexandra",female,17,4,2,6,3101281,7.925,?,S,D,?,"Ruotsinphyhtaa, Finland New York, NY"
646,3,1,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38,1,5,6,347077,31.3875,?,S,15,?,"Sweden Worcester, MA"
643,3,1,"Asplund, Miss. Lillian Gertrud",female,5,4,2,6,347077,31.3875,?,S,15,?,"Sweden Worcester, MA"
111,1,1,"Fortune, Miss. Alice Elizabeth",female,24,3,2,5,19950,263,C23 C25 C27,S,10,?,"Winnipeg, MB"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,2,1,"Williams, Mr. Charles Eugene",male,?,0,0,0,244373,13,?,S,14,?,"Harrow, England"
598,2,1,"Wright, Miss. Marion",female,26,0,0,0,220844,13.5,?,S,9,?,"Yoevil, England / Cottage Grove, OR"
604,3,1,"Abelseth, Miss. Karen Marie",female,16,0,0,0,348125,7.65,?,S,16,?,"Norway Los Angeles, CA"
605,3,1,"Abelseth, Mr. Olaus Jorgensen",male,25,0,0,0,348122,7.65,F G63,S,A,?,"Perkins County, SD"
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO"

In [25]:
titanic_dataframe[titanic_dataframe["num relatives"] == 0]["pclass"].value_counts()

3    472
1    160
2    158
Name: pclass, dtype: int64

In [26]:
houses_dataframe

,id,county,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,king county,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,king county,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,king county,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,king county,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,king county,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,king county,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,king county,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,king county,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,king county,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,king county,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [27]:
houses_dataframe

,id,county,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,king county,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,king county,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,king county,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,king county,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,king county,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,king county,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,king county,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,king county,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,king county,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,king county,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [28]:
price_per_square_foot_living = houses_dataframe["price"] / houses_dataframe["sqft_living"]
price_per_square_foot_living

0        188.050847
1        209.338521
2        233.766234
3        308.163265
4        303.571429
            ...
21608    235.294118
21609    173.160173
21610    394.216667
21611    250.000000
21612    318.627451
Length: 21613, dtype: float64

In [29]:
houses_dataframe.insert(loc=4, column="price_per_sqft_living", value=price_per_square_foot_living)

In [30]:
houses_dataframe

,id,county,date,price,price_per_sqft_living,bedrooms,bathrooms,sqft_living,sqft_lot,floors,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,king county,20141013T000000,221900.0,188.050847,3,1.00,1180,5650,1.0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,king county,20141209T000000,538000.0,209.338521,3,2.25,2570,7242,2.0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,king county,20150225T000000,180000.0,233.766234,2,1.00,770,10000,1.0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,king county,20141209T000000,604000.0,308.163265,4,3.00,1960,5000,1.0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,king county,20150218T000000,510000.0,303.571429,3,2.00,1680,8080,1.0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,king county,20140521T000000,360000.0,235.294118,3,2.50,1530,1131,3.0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,king county,20150223T000000,400000.0,173.160173,4,2.50,2310,5813,2.0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,king county,20140623T000000,402101.0,394.216667,2,0.75,1020,1350,2.0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,king county,20150116T000000,400000.0,250.000000,3,2.50,1600,2388,2.0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,king county,20141015T000000,325000.0,318.627451,2,0.75,1020,1076,2.0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [31]:
houses_dataframe["price_per_sqft_living"].nlargest()

19336    810.138889
4013     800.000000
10446    798.122066
8623     792.682927
9314     792.105263
Name: price_per_sqft_living, dtype: float64

In [32]:
bitcoin_dataframe

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.000000e+00,1.603769e+09
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.000000e+00,1.542813e+09
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.000000e+00,1.298955e+09
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.000000e+00,1.168517e+09
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.000000e+00,1.085995e+09
...,...,...,...,...,...,...,...,...,...,...
2986,2987,Bitcoin,BTC,2021-07-02 23:59:59,33939.588699,32770.680780,33549.600177,33897.048590,3.872897e+10,6.354508e+11
2987,2988,Bitcoin,BTC,2021-07-03 23:59:59,34909.259899,33402.696536,33854.421362,34668.548402,2.438396e+10,6.499397e+11
2988,2989,Bitcoin,BTC,2021-07-04 23:59:59,35937.567147,34396.477458,34665.564866,35287.779766,2.492431e+10,6.615748e+11
2989,2990,Bitcoin,BTC,2021-07-05 23:59:59,35284.344430,33213.661034,35284.344430,33746.002456,2.672155e+10,6.326962e+11
2990,2991,Bitcoin,BTC,2021-07-06 23:59:59,35038.536363,33599.916169,33723.509655,34235.193451,2.650126e+10,6.418992e+11

In [33]:
bitcoin_dataframe.set_index(keys="Date", inplace=True)

In [34]:
bitcoin_dataframe.drop(labels=["SNo", "Name"], axis=1, inplace=True)

In [35]:
bitcoin_dataframe.drop(labels="Symbol", axis=1, inplace=True)

In [36]:
bitcoin_dataframe

,High,Low,Open,Close,Volume,Marketcap
Date,,,,,,
2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.000000e+00,1.603769e+09
2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.000000e+00,1.542813e+09
2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.000000e+00,1.298955e+09
2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.000000e+00,1.168517e+09
2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.000000e+00,1.085995e+09
...,...,...,...,...,...,...
2021-07-02 23:59:59,33939.588699,32770.680780,33549.600177,33897.048590,3.872897e+10,6.354508e+11
2021-07-03 23:59:59,34909.259899,33402.696536,33854.421362,34668.548402,2.438396e+10,6.499397e+11
2021-07-04 23:59:59,35937.567147,34396.477458,34665.564866,35287.779766,2.492431e+10,6.615748e+11
2021-07-05 23:59:59,35284.344430,33213.661034,35284.344430,33746.002456,2.672155e+10,6.326962e+11
2021-07-06 23:59:59,35038.536363,33599.916169,33723.509655,34235.193451,2.650126e+10,6.418992e+11

In [37]:
average_intraday_price = bitcoin_dataframe["Close"] - bitcoin_dataframe["Open"]

In [40]:
bitcoin_dataframe.insert(loc=4, column="average_intraday_price", value=average_intraday_price)

In [41]:
bitcoin_dataframe

,High,Low,Open,Close,average_intraday_price,Volume,Marketcap
Date,,,,,,,
2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,10.095993,0.000000e+00,1.603769e+09
2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,-5.000000,0.000000e+00,1.542813e+09
2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,-22.010002,0.000000e+00,1.298955e+09
2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,-11.169998,0.000000e+00,1.168517e+09
2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,-8.500000,0.000000e+00,1.085995e+09
...,...,...,...,...,...,...,...
2021-07-02 23:59:59,33939.588699,32770.680780,33549.600177,33897.048590,347.448412,3.872897e+10,6.354508e+11
2021-07-03 23:59:59,34909.259899,33402.696536,33854.421362,34668.548402,814.127040,2.438396e+10,6.499397e+11
2021-07-04 23:59:59,35937.567147,34396.477458,34665.564866,35287.779766,622.214900,2.492431e+10,6.615748e+11
2021-07-05 23:59:59,35284.344430,33213.661034,35284.344430,33746.002456,-1538.341974,2.672155e+10,6.326962e+11
2021-07-06 23:59:59,35038.536363,33599.916169,33723.509655,34235.193451,511.683796,2.650126e+10,6.418992e+11

In [42]:
bitcoin_dataframe.rename(columns={"average_intraday_price": "intraday_change"}, inplace=True)

In [43]:
bitcoin_dataframe

,High,Low,Open,Close,intraday_change,Volume,Marketcap
Date,,,,,,,
2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,10.095993,0.000000e+00,1.603769e+09
2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,-5.000000,0.000000e+00,1.542813e+09
2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,-22.010002,0.000000e+00,1.298955e+09
2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,-11.169998,0.000000e+00,1.168517e+09
2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,-8.500000,0.000000e+00,1.085995e+09
...,...,...,...,...,...,...,...
2021-07-02 23:59:59,33939.588699,32770.680780,33549.600177,33897.048590,347.448412,3.872897e+10,6.354508e+11
2021-07-03 23:59:59,34909.259899,33402.696536,33854.421362,34668.548402,814.127040,2.438396e+10,6.499397e+11
2021-07-04 23:59:59,35937.567147,34396.477458,34665.564866,35287.779766,622.214900,2.492431e+10,6.615748e+11
2021-07-05 23:59:59,35284.344430,33213.661034,35284.344430,33746.002456,-1538.341974,2.672155e+10,6.326962e+11
2021-07-06 23:59:59,35038.536363,33599.916169,33723.509655,34235.193451,511.683796,2.650126e+10,6.418992e+11

In [44]:
bitcoin_dataframe.sort_values(by="intraday_change", ascending=False)

,High,Low,Open,Close,intraday_change,Volume,Marketcap
Date,,,,,,,
2021-02-08 23:59:59,46203.931437,38076.322807,38886.827290,46196.463719,7309.636429,1.014672e+11,8.603427e+11
2021-04-26 23:59:59,54288.002155,48852.796843,49077.792363,54021.754787,4943.962424,5.828404e+10,1.009780e+12
2021-03-01 23:59:59,49784.015290,45115.093115,45159.503053,49631.241371,4471.738318,5.389130e+10,9.252355e+11
2021-02-19 23:59:59,56113.650547,50937.275722,51675.981285,55888.133682,4212.152397,6.349550e+10,1.041381e+12
2021-04-30 23:59:59,57900.719988,53129.600877,53568.663584,57750.177346,4181.513762,5.239593e+10,1.079670e+12
...,...,...,...,...,...,...,...
2021-04-18 23:59:59,61057.456509,52829.535926,60701.886093,56216.185002,-4485.701091,9.746887e+10,1.050445e+12
2021-01-21 23:59:59,35552.679497,30250.749639,35549.397409,30825.698506,-4723.698903,7.564307e+10,5.735657e+11
2021-02-23 23:59:59,54204.929756,45290.590268,54204.929756,48824.426869,-5380.502887,1.061025e+11,9.099259e+11
2021-05-19 23:59:59,43546.116485,30681.496912,42944.975447,37002.440466,-5942.534981,1.263581e+11,6.924526e+11
2021-05-12 23:59:59,57939.362415,49150.533875,56714.533167,49150.533875,-7563.999292,7.521540e+10,9.195278e+11

In [47]:
biden_tweets = pd.read_csv(filepath_or_buffer = "1.section data/JoeBidenTweets.csv")

In [48]:
biden_tweets

,id,timestamp,url,tweet,replies,retweets,quotes,likes
0,361388562,2007-10-24 22:45,https://twitter.com/JoeBiden/status/361388562,Tune in 11:30 ET tomorrow for a live webcast o...,19,5,17,11
1,543984392,2007-12-29 15:35,https://twitter.com/JoeBiden/status/543984392,"Iowans, there's a good chance there's a Biden ...",13,16,6,22
2,189287227321356289,2012-04-09 09:42,https://twitter.com/JoeBiden/status/1892872273...,We're excited to announce that @JoeBiden is be...,21,82,1,20
3,189287350034104320,2012-04-09 09:43,https://twitter.com/JoeBiden/status/1892873500...,Campaign staff will run this account to keep y...,144,76,37,51
4,189339650610036736,2012-04-09 13:11,https://twitter.com/JoeBiden/status/1893396506...,News for you this morning: VP Biden will speak...,10,54,0,5
...,...,...,...,...,...,...,...,...
6059,1322865972819251200,2020-11-01 11:40,https://twitter.com/JoeBiden/status/1322865972...,"As president, I’ll build an economy that rewar...",3085,3654,480,36995
6060,1322871257902145536,2020-11-01 12:01,https://twitter.com/JoeBiden/status/1322871257...,Let’s put dogs back in the White House. https:...,2211,4211,1246,34240
6061,1322876039144636417,2020-11-01 12:20,https://twitter.com/JoeBiden/status/1322876039...,We have in our hands the ultimate power: the p...,918,1143,122,6954
6062,1322881072363917312,2020-11-01 12:40,https://twitter.com/JoeBiden/status/1322881072...,"We need to:\n\nBuild bridges, not walls.\nOpen...",1281,2255,344,16696
6063,1322886357535150081,2020-11-01 13:01,https://twitter.com/JoeBiden/status/1322886357...,Jodie –– you have my word: I will always stand...,168,270,37,1648

In [50]:
biden_tweets.drop(labels="url", axis=1)

,id,timestamp,tweet,replies,retweets,quotes,likes
0,361388562,2007-10-24 22:45,Tune in 11:30 ET tomorrow for a live webcast o...,19,5,17,11
1,543984392,2007-12-29 15:35,"Iowans, there's a good chance there's a Biden ...",13,16,6,22
2,189287227321356289,2012-04-09 09:42,We're excited to announce that @JoeBiden is be...,21,82,1,20
3,189287350034104320,2012-04-09 09:43,Campaign staff will run this account to keep y...,144,76,37,51
4,189339650610036736,2012-04-09 13:11,News for you this morning: VP Biden will speak...,10,54,0,5
...,...,...,...,...,...,...,...
6059,1322865972819251200,2020-11-01 11:40,"As president, I’ll build an economy that rewar...",3085,3654,480,36995
6060,1322871257902145536,2020-11-01 12:01,Let’s put dogs back in the White House. https:...,2211,4211,1246,34240
6061,1322876039144636417,2020-11-01 12:20,We have in our hands the ultimate power: the p...,918,1143,122,6954
6062,1322881072363917312,2020-11-01 12:40,"We need to:\n\nBuild bridges, not walls.\nOpen...",1281,2255,344,16696
6063,1322886357535150081,2020-11-01 13:01,Jodie –– you have my word: I will always stand...,168,270,37,1648

In [53]:
biden_tweets[biden_tweets["id"] == 361388562]

,id,timestamp,url,tweet,replies,retweets,quotes,likes
0,361388562,2007-10-24 22:45,https://twitter.com/JoeBiden/status/361388562,Tune in 11:30 ET tomorrow for a live webcast o...,19,5,17,11

In [54]:
biden_tweets.drop(labels=0, axis=0)

,id,timestamp,url,tweet,replies,retweets,quotes,likes
1,543984392,2007-12-29 15:35,https://twitter.com/JoeBiden/status/543984392,"Iowans, there's a good chance there's a Biden ...",13,16,6,22
2,189287227321356289,2012-04-09 09:42,https://twitter.com/JoeBiden/status/1892872273...,We're excited to announce that @JoeBiden is be...,21,82,1,20
3,189287350034104320,2012-04-09 09:43,https://twitter.com/JoeBiden/status/1892873500...,Campaign staff will run this account to keep y...,144,76,37,51
4,189339650610036736,2012-04-09 13:11,https://twitter.com/JoeBiden/status/1893396506...,News for you this morning: VP Biden will speak...,10,54,0,5
5,189343279140184065,2012-04-09 13:25,https://twitter.com/JoeBiden/status/1893432791...,"In NH on 4/12, the Vice President will give hi...",16,52,0,6
...,...,...,...,...,...,...,...,...
6059,1322865972819251200,2020-11-01 11:40,https://twitter.com/JoeBiden/status/1322865972...,"As president, I’ll build an economy that rewar...",3085,3654,480,36995
6060,1322871257902145536,2020-11-01 12:01,https://twitter.com/JoeBiden/status/1322871257...,Let’s put dogs back in the White House. https:...,2211,4211,1246,34240
6061,1322876039144636417,2020-11-01 12:20,https://twitter.com/JoeBiden/status/1322876039...,We have in our hands the ultimate power: the p...,918,1143,122,6954
6062,1322881072363917312,2020-11-01 12:40,https://twitter.com/JoeBiden/status/1322881072...,"We need to:\n\nBuild bridges, not walls.\nOpen...",1281,2255,344,16696
6063,1322886357535150081,2020-11-01 13:01,https://twitter.com/JoeBiden/status/1322886357...,Jodie –– you have my word: I will always stand...,168,270,37,1648

In [55]:
biden_tweets["user"] = "Joe Biden"

In [56]:
biden_tweets

,id,timestamp,url,tweet,replies,retweets,quotes,likes,user
0,361388562,2007-10-24 22:45,https://twitter.com/JoeBiden/status/361388562,Tune in 11:30 ET tomorrow for a live webcast o...,19,5,17,11,Joe Biden
1,543984392,2007-12-29 15:35,https://twitter.com/JoeBiden/status/543984392,"Iowans, there's a good chance there's a Biden ...",13,16,6,22,Joe Biden
2,189287227321356289,2012-04-09 09:42,https://twitter.com/JoeBiden/status/1892872273...,We're excited to announce that @JoeBiden is be...,21,82,1,20,Joe Biden
3,189287350034104320,2012-04-09 09:43,https://twitter.com/JoeBiden/status/1892873500...,Campaign staff will run this account to keep y...,144,76,37,51,Joe Biden
4,189339650610036736,2012-04-09 13:11,https://twitter.com/JoeBiden/status/1893396506...,News for you this morning: VP Biden will speak...,10,54,0,5,Joe Biden
...,...,...,...,...,...,...,...,...,...
6059,1322865972819251200,2020-11-01 11:40,https://twitter.com/JoeBiden/status/1322865972...,"As president, I’ll build an economy that rewar...",3085,3654,480,36995,Joe Biden
6060,1322871257902145536,2020-11-01 12:01,https://twitter.com/JoeBiden/status/1322871257...,Let’s put dogs back in the White House. https:...,2211,4211,1246,34240,Joe Biden
6061,1322876039144636417,2020-11-01 12:20,https://twitter.com/JoeBiden/status/1322876039...,We have in our hands the ultimate power: the p...,918,1143,122,6954,Joe Biden
6062,1322881072363917312,2020-11-01 12:40,https://twitter.com/JoeBiden/status/1322881072...,"We need to:\n\nBuild bridges, not walls.\nOpen...",1281,2255,344,16696,Joe Biden
6063,1322886357535150081,2020-11-01 13:01,https://twitter.com/JoeBiden/status/1322886357...,Jodie –– you have my word: I will always stand...,168,270,37,1648,Joe Biden

In [57]:
biden_tweets.set_index(keys="id", inplace=True)

In [58]:
biden_tweets

,timestamp,url,tweet,replies,retweets,quotes,likes,user
id,,,,,,,,
361388562,2007-10-24 22:45,https://twitter.com/JoeBiden/status/361388562,Tune in 11:30 ET tomorrow for a live webcast o...,19,5,17,11,Joe Biden
543984392,2007-12-29 15:35,https://twitter.com/JoeBiden/status/543984392,"Iowans, there's a good chance there's a Biden ...",13,16,6,22,Joe Biden
189287227321356289,2012-04-09 09:42,https://twitter.com/JoeBiden/status/1892872273...,We're excited to announce that @JoeBiden is be...,21,82,1,20,Joe Biden
189287350034104320,2012-04-09 09:43,https://twitter.com/JoeBiden/status/1892873500...,Campaign staff will run this account to keep y...,144,76,37,51,Joe Biden
189339650610036736,2012-04-09 13:11,https://twitter.com/JoeBiden/status/1893396506...,News for you this morning: VP Biden will speak...,10,54,0,5,Joe Biden
...,...,...,...,...,...,...,...,...
1322865972819251200,2020-11-01 11:40,https://twitter.com/JoeBiden/status/1322865972...,"As president, I’ll build an economy that rewar...",3085,3654,480,36995,Joe Biden
1322871257902145536,2020-11-01 12:01,https://twitter.com/JoeBiden/status/1322871257...,Let’s put dogs back in the White House. https:...,2211,4211,1246,34240,Joe Biden
1322876039144636417,2020-11-01 12:20,https://twitter.com/JoeBiden/status/1322876039...,We have in our hands the ultimate power: the p...,918,1143,122,6954,Joe Biden
1322881072363917312,2020-11-01 12:40,https://twitter.com/JoeBiden/status/1322881072...,"We need to:\n\nBuild bridges, not walls.\nOpen...",1281,2255,344,16696,Joe Biden
1322886357535150081,2020-11-01 13:01,https://twitter.com/JoeBiden/status/1322886357...,Jodie –– you have my word: I will always stand...,168,270,37,1648,Joe Biden

In [59]:
biden_tweets

,timestamp,url,tweet,replies,retweets,quotes,likes,user
id,,,,,,,,
361388562,2007-10-24 22:45,https://twitter.com/JoeBiden/status/361388562,Tune in 11:30 ET tomorrow for a live webcast o...,19,5,17,11,Joe Biden
543984392,2007-12-29 15:35,https://twitter.com/JoeBiden/status/543984392,"Iowans, there's a good chance there's a Biden ...",13,16,6,22,Joe Biden
189287227321356289,2012-04-09 09:42,https://twitter.com/JoeBiden/status/1892872273...,We're excited to announce that @JoeBiden is be...,21,82,1,20,Joe Biden
189287350034104320,2012-04-09 09:43,https://twitter.com/JoeBiden/status/1892873500...,Campaign staff will run this account to keep y...,144,76,37,51,Joe Biden
189339650610036736,2012-04-09 13:11,https://twitter.com/JoeBiden/status/1893396506...,News for you this morning: VP Biden will speak...,10,54,0,5,Joe Biden
...,...,...,...,...,...,...,...,...
1322865972819251200,2020-11-01 11:40,https://twitter.com/JoeBiden/status/1322865972...,"As president, I’ll build an economy that rewar...",3085,3654,480,36995,Joe Biden
1322871257902145536,2020-11-01 12:01,https://twitter.com/JoeBiden/status/1322871257...,Let’s put dogs back in the White House. https:...,2211,4211,1246,34240,Joe Biden
1322876039144636417,2020-11-01 12:20,https://twitter.com/JoeBiden/status/1322876039...,We have in our hands the ultimate power: the p...,918,1143,122,6954,Joe Biden
1322881072363917312,2020-11-01 12:40,https://twitter.com/JoeBiden/status/1322881072...,"We need to:\n\nBuild bridges, not walls.\nOpen...",1281,2255,344,16696,Joe Biden
1322886357535150081,2020-11-01 13:01,https://twitter.com/JoeBiden/status/1322886357...,Jodie –– you have my word: I will always stand...,168,270,37,1648,Joe Biden

In [60]:
biden_tweets.insert(loc=5, column="ratio", value=biden_tweets["replies"] / biden_tweets["retweets"])

In [61]:
biden_tweets

,timestamp,url,tweet,replies,retweets,ratio,quotes,likes,user
id,,,,,,,,,
361388562,2007-10-24 22:45,https://twitter.com/JoeBiden/status/361388562,Tune in 11:30 ET tomorrow for a live webcast o...,19,5,3.800000,17,11,Joe Biden
543984392,2007-12-29 15:35,https://twitter.com/JoeBiden/status/543984392,"Iowans, there's a good chance there's a Biden ...",13,16,0.812500,6,22,Joe Biden
189287227321356289,2012-04-09 09:42,https://twitter.com/JoeBiden/status/1892872273...,We're excited to announce that @JoeBiden is be...,21,82,0.256098,1,20,Joe Biden
189287350034104320,2012-04-09 09:43,https://twitter.com/JoeBiden/status/1892873500...,Campaign staff will run this account to keep y...,144,76,1.894737,37,51,Joe Biden
189339650610036736,2012-04-09 13:11,https://twitter.com/JoeBiden/status/1893396506...,News for you this morning: VP Biden will speak...,10,54,0.185185,0,5,Joe Biden
...,...,...,...,...,...,...,...,...,...
1322865972819251200,2020-11-01 11:40,https://twitter.com/JoeBiden/status/1322865972...,"As president, I’ll build an economy that rewar...",3085,3654,0.844280,480,36995,Joe Biden
1322871257902145536,2020-11-01 12:01,https://twitter.com/JoeBiden/status/1322871257...,Let’s put dogs back in the White House. https:...,2211,4211,0.525053,1246,34240,Joe Biden
1322876039144636417,2020-11-01 12:20,https://twitter.com/JoeBiden/status/1322876039...,We have in our hands the ultimate power: the p...,918,1143,0.803150,122,6954,Joe Biden
1322881072363917312,2020-11-01 12:40,https://twitter.com/JoeBiden/status/1322881072...,"We need to:\n\nBuild bridges, not walls.\nOpen...",1281,2255,0.568071,344,16696,Joe Biden
1322886357535150081,2020-11-01 13:01,https://twitter.com/JoeBiden/status/1322886357...,Jodie –– you have my word: I will always stand...,168,270,0.622222,37,1648,Joe Biden

In [63]:
biden_tweets.sort_values(by="ratio", ascending=False).head(n=10)

,timestamp,url,tweet,replies,retweets,ratio,quotes,likes,user
id,,,,,,,,,
232971730119950338,2012-08-07 22:49,https://twitter.com/JoeBiden/status/2329717301...,Introducing the Obama Classic—your chance to j...,10,1,10.000000,0,9,Joe Biden
1200882191875465216,2019-11-30 21:00,https://twitter.com/JoeBiden/status/1200882191...,Fired up and ready to go for the #NoMalarkey b...,11651,1414,8.239745,7074,9103,Joe Biden
1150774078233387008,2019-07-15 14:28,https://twitter.com/JoeBiden/status/1150774078...,I understand the appeal of Medicare for All — ...,1247,161,7.745342,532,721,Joe Biden
1186989582182694922,2019-10-23 12:55,https://twitter.com/JoeBiden/status/1186989582...,"Once again, Putin and the Russians are interfe...",12489,2016,6.194940,2248,7007,Joe Biden
1189327302733238272,2019-10-29 23:45,https://twitter.com/JoeBiden/status/1189327302...,"Some Americans celebrate #NationalCatDay, some...",3564,609,5.852217,837,3238,Joe Biden
1181979945599455232,2019-10-09 17:09,https://twitter.com/JoeBiden/status/1181979945...,I’m about to take the stage in New Hampshire t...,2993,514,5.822957,195,2255,Joe Biden
1141149986505330693,2019-06-19 01:05,https://twitter.com/JoeBiden/status/1141149986...,Let’s be clear: President Trump inherited a gr...,3856,670,5.755224,501,3663,Joe Biden
1186830433985748993,2019-10-23 02:23,https://twitter.com/JoeBiden/status/1186830433...,This wasn’t the right word to use and I’m sorr...,18992,3425,5.545109,4157,14551,Joe Biden
1172309499048165376,2019-09-13 00:42,https://twitter.com/JoeBiden/status/1172309499...,Senator Sanders' Medicare for All plan would r...,1416,287,4.933798,274,1382,Joe Biden
1152313660787908610,2019-07-19 20:26,https://twitter.com/JoeBiden/status/1152313660...,"Here's the deal, my plan to build on Obamacare...",1338,278,4.812950,167,1168,Joe Biden

In [64]:
biden_tweets.insert(loc=9, column="interactions", value=biden_tweets["replies"] + biden_tweets["retweets"] + biden_tweets["quotes"] + biden_tweets["likes"])

In [69]:
biden_tweets[["tweet", "interactions"]].sort_values(by="interactions", ascending=False).head(n=8)

,tweet,interactions
id,,
1311120831032909825,Donald Trump is the worst president we've ever...,2293793
1253751812194070529,"I can’t believe I have to say this, but please...",2073072
1317978773707345920,Wear a mask. Wash your hands. Vote out Donald ...,1612157
1318170176660135936,...yes https://t.co/RzZ3j3zoAL,1494296
1312460408192724992,"One month until Election Day. Let’s do this, A...",1323850
1314034535890378752,".@KamalaHarris, you made us all proud tonight.",1234867
1314031047013732352,Pitch in $5 to help this campaign fly. https:/...,1208020
1307491919384260609,I’m Joe Biden and I approve this message. http...,1183455